[2019-10-18 11:33] rinoreji opened #2 "Removing Infrastructure dependency from Presentation"
Creating a separate class library which handles all DI could possible remove direct Infra dependency from WebUI. Share your thoughts

[2019-11-06 05:09] nightBaker opened #3 "using ViewModels instead DTOs"
It is not a bug, but a question.

Why do you use view models for returning result from queries ?
For example,  GetTodoItemQuery returns TodoItemVm, however it looks like DTO mroe than VM.

As I know, by DDD we should return DTOs from application layer.

[2019-11-17 18:05] Pyrobolser opened #4 "Social Login and Password Reset"
**Issue**
I would like to really understand how to add some of the classic things explained in the Microsoft Documentation (like social login) but with the SPA application. I am going to try but myself but I would love to see your solution for this.

For example the solution [described here](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm?view=aspnetcore-3.0&tabs=vi

[2019-11-18 15:34] Pyrobolser opened #5 "Functional AdAccount?"
I see that you have **AdAccount** as a **ValueObject** but that it is not used anywhere else than in the tests. Would it be possible to have _Active Directory Login with Azure_ enabled for this application even if the _Classic Application Login_ is already enabled?

I suppose this is already in your plans since you have this class in there I just wanted to make sure. Once again, if I am able to co

[2019-11-29 10:43] JudeVajira opened #7 "Mapping from VMs and DTOs to Domain Models"
I understand mapping from Domain Models to DTOs/Vms can be done using IMapFrom<>, but in case of updating a domain entity we will not be able to use IMapFrom<> as that would mean Domain layer would need to reference the Application layer and that is not recommended.

So as far as I see for now the 2 options available are to either,

1) Write the code by hand where you take the data from DTOs/Vms a

[2019-12-03 11:16] hypervtechnics opened #8 "Error handling: Content negotiation"
**Is your feature request related to a problem? Please describe.**
The content negotiation used when (de)serializing objects is not respected and errors are always formatted in JSON.

**Describe the solution you'd like**
An implementetation which respects the content wanted by the client. Also what do you think about the `StatusCodes.*` constants as an alternative to `(int) HttpStatusCode.*`?

**D

[2019-12-03 12:14] hypervtechnics opened #9 "Anonymous access"
**Is your feature request related to a problem? Please describe.**
The pipeline behaviour regarding the authorize attribute is always trying to resolve the user. Maybe this should be more dynamic regarding the `AllowAnonymous `or the not existing `Authorize` attributes.

**Describe the solution you'd like**
Respect the filters set to the route.

**Describe alternatives you've considered**
Replacin

[2019-12-03 12:15] hypervtechnics opened #10 "Common in WebUI in ClientApp?"
**Describe the bug**
The Common folder is inside of the ClientApp folder.

**To Reproduce**
Look at the structure.

**Expected behavior**
Shouldn't this one be in the root of the WebUI project?

**Screenshots**
*-*

**Additional context**
*-*

[2019-12-03 13:16] TorbjornHoltmon opened #11 "Feature Request: Have all error responses follow the same pattern"
**Is your feature request related to a problem? Please describe.**
A 400 response from /api/TodoList/{id} looks like:
[code]
A 404 response from /api/TodoList/{id} looks like:
[code]

In order to write global error handling on the client side I would have to write costum checks for all possible responses.

**Describe the solution you'd like**
What would make error handling on the client side very

[2019-12-03 16:03] hbermani opened #13 "Feature Request: React Presentation Layer"
Thank you Jason and the community for the brilliant work on this solution. I just finished watching your latest NDC talk and I think it's brilliant.

I was wondering whether anyone is forking this to make a version with React as the front-end? I will try and give it a go but I am really new to it.

H.

[2019-12-03 16:14] eloekset commented on #13
I also just recently saw the [NDC Sydney 2019 talk](https://youtu.be/5OtUm1BLmG0). Since it’s mentioned, we should link to it.

[2019-12-03 17:03] Pyrobolser commented on #10
I think you are having an issue on your side.
On the GitHub repo and on my own version I see the **Common** folder and the **ClientApp** folder at the same level. Not one in the other.

[2019-12-03 18:03] hypervtechnics commented on #10
Hm. Okay just cloned it again. Maybe I accidently moved it without noticing. Sorry for causing inconvenience.

[2019-12-03 18:03] #10 closed

[2019-12-03 19:05] Pyrobolser commented on #9
I think this issue is because of the **RequestLogger** trying to find a user for every request, even anonymous one. If you don't have a current user, you should log this request as anonymous or log something else like the client ip for example.

[2019-12-03 19:12] hypervtechnics commented on #9
I just removed logging of user name for now. But will think about that one. Thank you

[2019-12-03 19:12] hypervtechnics commented on #11
See #8 where I also wanted this.

[2019-12-03 19:15] TorbjornHoltmon commented on #11
Duplicate of #8

[2019-12-03 19:15] #11 closed

[2019-12-03 20:33] InvisibleProgrammer commented on #4
What about splitting this issue into two:
- Social Login
- Password Reset

[2019-12-04 10:06] jjz4689 commented on #2
Totally agree. Just watched the [NDC Sydney Conf 2019](https://youtu.be/5OtUm1BLmG0) video (great talk by the way, Jason) and thought exactly the same thing.

I suppose there are 2 obvious approaches to this:
1. the DI lib just calls the existing relevant `.AddXyz()` extension methods for each other layer; or
2. the DI lib does the heavy lifting and contains relevant registration logic that's in a

[2019-12-04 10:44] hypervtechnics commented on #9
There are two calls to `GetUserNameAsync`. If the underlying storage is a database for example this would involve two requests to the database per request. Is it possible to mitigate this one? E.g. loading the user only once or during construction of ICurrentUserService.

[2019-12-06 21:58] tparikka opened #14 "SpaServices Strange Compilation Text"
I am encountering a strange compilation message when trying to start the project as described in the Getting Started section of the readme.

**To Reproduce**
1. Install the latest .NET Core SDK
2. Run dotnet new --install Clean.Architecture.Solution.Template to install the project template
3. Run dotnet new ca-sln to create a new project
4. Navigate to src/WebUI and run dotnet run to launch the pr

[2019-12-06 21:59] tparikka opened #15 "caniuse-lite Oudated"
**Is your feature request related to a problem? Please describe.**
On build, there is a notification that caniuse-lite requires an update:
![image](https://user-images.githubusercontent.com/7715790/70359345-4f43b680-1841-11ea-8265-fec9d70e00ca.png)

**Describe the solution you'd like**
I would suggest that the project be updated to use the current version of caniuse-lite.

[2019-12-06 22:07] tparikka opened #16 "Could not load settings for 'ca_sln.WebUI'"
**Describe the bug**
When loading the main page of the client application in Chrome, the following error occurs once in the browser console. The application is being run from Windows 10 Pro x64.

[code]

The following error occurs twice:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project from the template per the directions in the readme.
2. Use dotnet run to initia

[2019-12-06 22:09] tparikka opened #17 "404 Loading Favico"
**Describe the bug**
A 404 occurs trying to load favico in Windows 10 Pro x64:

```Failed to load resource: the server responded with a status of 404 (Not Found) :52178/favicon.ico:1```

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project from the template per the directions in the readme.
2. Use dotnet run to initialize project
3. Load index in Chrome

**Expected behavior**

[2019-12-07 21:58] SuliemanMansouri opened #18 "Clean Architecture template using .net Core 3.1"
**Describe the bug**
after installing Visual studio 16.4. the command
dotnet new ca-sln will not work.
I reinstalled the template and was able to create a new project however the resulted solution is different it looks like it rolled back to 2.2 template, specifically in the Application folder.
The query and the handler are in a separate files and it does not use ProjectTo in LINQ.

[2019-12-09 10:42] chuksogbolime commented on #2
I particularly find this discussion quite interesting as the first thing that came to mind while watching the video when Jason mentioned that Presentation and Infrastructure layers should not depend on each other was "DI". I went on to look at the implementation and it became obvious that this separation may only be "wishful". So the question here is how do you achieve this separations in "Clean A

[2019-12-09 13:23] cuno92 commented on #18
@SuliemanMansouri i think [this PR](https://github.com/JasonGT/CleanArchitecture/pull/21) may fix this issue. Can you fetch new changes and try again

[2019-12-09 13:58] JasonGT commented on #18
I've just merged .NET Core 3.1 upgrade from @cuno92 so you should run into any more issues. Let me know how you go. Thanks.

[2019-12-09 14:04] JasonGT commented on #16
After running `dotnet run`, try launching https://localhost:5001/.

Any better?

[2019-12-09 14:04] JasonGT commented on #17
Thanks, I'll get it fixed.

[2019-12-09 16:39] tparikka commented on #16
That worked! One of the last build messages written to the console is:

[code]

So that was the host I connected to. Admittedly I'm still really new to web app development but it might be helpful to add something mentioning the connect port to the readme?

[2019-12-09 16:39] tparikka commented on #14
Doing some more research, this appears to be entirely unrelated to anything in this solution - there are mentions of it in various places related to Angular development specifically.

[2019-12-09 16:39] #14 closed

[2019-12-10 01:19] SuliemanMansouri commented on #18
I'll try the new template and keep you posted.

[2019-12-10 03:26] SuliemanMansouri commented on #18
adding a controller will throw the following error

Error	MSB3073	The command "dotnet "C:\Users\Sulieman\.nuget\packages\nswag.msbuild\13.1.2\build\../tools/NetCore30/dotnet-nswag.dll" run /variables:Configuration=Debug" exited with code -1.	WebUI	C:\Users\Sulieman\Source\repos\SM.StudentRegistration\Src\WebUI\WebUI.csproj	60

4>   at NSwag.Commands.NSwagCommandProcessor.Process(String[] args) in

[2019-12-10 10:27] JasonGT commented on #18
Do you have a repo I can take a look at?

[2019-12-10 12:43] Sampath-Lokuge opened #22 "VS Code support with this template"
Hi,

Can I use the VS Code with this template? i.e. I would like to have 2 folders on VS code as one for Web API and Other for the Angular 8 project. Is this possible?

[2019-12-10 12:58] SuliemanMansouri commented on #18
I apologize for my last post, the wording of the problem was misleading. That's what you get when trying to code at 4am in the morning.
My issue was when trying to build the solution and generate the nswag code for angular was throwing the error, not adding the controller itself.

I am using TFVC as my repo. It turned out that I need to check-out my solution in order to successfully build, just ch

[2019-12-10 19:06] MaherJendoubi opened #23 "Feature Request: Blazor Presentation Layer"
Dear Jason,

For Blazor, there are 2 hosting model choices that could affect the architecture :

![image](https://user-images.githubusercontent.com/1798510/70615320-749f3e80-1c0c-11ea-82c9-e0396dfb0300.png)

[2019-12-10 21:03] AnassL commented on #23
Great idea !!

[2019-12-12 06:33] saidsalti opened #24 "Enumerator failed to MoveNextAsync"
Hello ..
I have a problem.
When I perform any operation(Update,Insert ,Read), this error is shown (Enumerator failed to MoveNextAsync).
I did not understand what it means.
I could not add any record to the database.

Thank you.

[2019-12-12 09:55] #24 closed

[2019-12-12 10:50] JasonGT commented on #23
Just this week I was talking to my good friend @jernejk (JK) about implementing Blazor for this solution. Clearly we will need to think about the approach, but he had some good ideas. JK (and others) if you have some time, could you please provide suggestions for recommended approach?

[2019-12-12 10:57] JasonGT commented on #22
For sure, the solution works with your preferred IDE and .NET Core SDK, VS Code is perfectly fine.

Currently the solution uses the Angular SPA template, built in to .NET Core. You can read up on that template here; https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/angular?view=aspnetcore-3.1&tabs=visual-studio. I've also written a blog post about it; http://www.codingflow.net/building-

[2019-12-12 10:59] JasonGT commented on #18
No worries at all, glad that you got it up and running. 😄

Happy coding!

[2019-12-12 10:59] #18 closed

[2019-12-12 11:11] JasonGT commented on #17
Oh, wait - you loaded index.html in Chrome? If so, that's not the right approach.

After `dotnet run` the console will output:

[code]

You should then load **https://localhost:5001** in Chrome.

Now if you do that, the app will launch correctly and you won't see any 404 errors.

[2019-12-12 11:15] JasonGT commented on #16
The host mentioned above is just for Angular. You need to look for this output from ASP.NET Core:

[code]

You should then load https://localhost:5001 in Chrome.

In development Kestral hosts the back end and Angular CLI hosts the front end. Kestral proxies all requests to Angular CLI. You can learn more about the approach here; https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/angular?

[2019-12-12 11:20] JasonGT commented on #13
Thanks so much, really appreciate the feedback. 😄

This is something that I'd really like to see happen next year. In fact, it would be great to have front ends for Angular, React, Vue (my favourite), and Blazor.

If you want to learn more, take a look here - https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/react?view=aspnetcore-3.1&tabs=visual-studio. Essentially, there are two React

[2019-12-12 11:23] hbermani commented on #13
I think i just about got React to work with it, but didn't implement the Todo app logic. Currently battling with integrating Azure AD sign in with Identity Server in the template. Failing at it but will grind it until I succeed XD!!
I have so much to learn :(

[2019-12-12 12:09] AnassL commented on #23
An awesome thing would be to insert in the architecture a new Blazor project which would act as client app, and let the current server side as it is. With Balzor you can share classes between the server side and the client side, with Typescript you needed to duplicate every class you are using, Blazor eliminates this need. I've heared people saying that a complete Blazor Client side will be availa

[2019-12-12 13:21] jernejk commented on #23
I agree, @AnassL.

Personally, I'm using client-side Blazor hosted on GitHub pages + Azure Functions on a few pet projects, where I don't need much server-side logic. You can already use it, however, it's still in the early stages and I wouldn't recommend it for production until May 2020.

I used server-side Blazor on a pet project and it's interesting, however, I find client-side Blazor more inte

[2019-12-12 16:14] davidhenley opened #25 "[Question] Why do you create the handler inside of the command itself?"

[2019-12-12 18:46] hypervtechnics commented on #25
I think this is to save some "file count", as most of the commands are empty. You can split them in two separate code files and classes if you want to.

[2019-12-12 18:54] hypervtechnics opened #29 "Calling commands from internal components"
I have a `DeleteDailyCommand` and sending it via MediatR from an app-internal Quartz scheduler. But all pipeline behaviours relying on the http context fail, as its not available during the internal send. How would you call system internal commands or bring them into this architecture?

[2019-12-12 19:01] hypervtechnics commented on #3
Those are just terms in this context, I guess. The `*Vm` ones are more like containers for complex responses. `*Dto` is a single entity. You may also always use the `Representation` suffix.

Nonetheless I agree with `Vm` being a bit confusing. Can't think of a better name like `Container` for now tho.

[2019-12-12 19:08] davidhenley commented on #25
I usually set up mine like:

[code]

Just wanted to understand the thinking behind this way since I've never seen it before.

[2019-12-12 21:08] JasonGT commented on #29
Hi @hypervtechnics. Application layer / pipeline behaviours shouldn't know anything about the HttpContext, it's not a dependency. Please can you share more info about the issue?

[2019-12-12 21:30] hypervtechnics commented on #29
Hi, the dependency is indirect and comes along with the current given implementation of e.g. the current user service, which accesses the HttpContext. During logging of the username an exception occurs as the identity service can't find the non-existent user. This can be solved by simply removing the username in general, but I'd consider this only as a work around.

The thing is now: I have job ex

[2019-12-12 21:33] JasonGT commented on #25
It improves discoverability of the request handlers via the requests. For example, within an ASP.NET Controller I might have:

[code]

If I press F12 I can review the request and request handler at the same time. I don't have to use solution explorer or keyboard wizardry to load the handler. It's all there ready to review and edit.

Going forward, I was planning to change to this approach:

**AddT

[2019-12-12 22:00] viros opened #30 "ApplicationUser and nested properties"
Wondering how to implement application logic that reference to ApplicationUser. F.e how to show only TodoLists that belongs to the current user. Where this logic should go?

How to customize ApplicationUser in right way. F.e if i have  Image entity in my domain, how i can associate this image with ApplicationUser( as i understand i can't use shadow properties as AppUser is not part of the domain)

[2019-12-13 09:50] pitermarx commented on #3
I just use the term Model usually

[2019-12-13 16:13] #25 closed

[2019-12-13 16:15] davidhenley commented on #23
All your API responses can be put in a separate project that is referenced by the application and blazor layers

[2019-12-13 16:18] davidhenley opened #32 "[Question] CleanArchitecture vs NorthwindTraders"
Hey Jason, I just wanted to know what the differences are in these 2 projects.

- What is this project trying to accomplish that NorthwindTraders doesn't?
- Are you happy with both projects architectures?
- Is there anything you would change about NWT?
- What are your plans for the future?

[2019-12-13 16:32] tparikka commented on #16
Thank you for the clarification! It's really helpful for someone as new to this type of framework as I am. ^_^

[2019-12-13 16:32] #16 closed

[2019-12-13 16:32] tparikka commented on #17
Yup, that was the culprit. Thank you!

[2019-12-13 16:32] #17 closed

[2019-12-13 17:22] AnassL commented on #23
@davidhenley can you please elaborate a bit more ? I am sorry, didn't get your point.

[2019-12-13 17:46] davidhenley commented on #23
@AnassL You can share code between your Blazor client and your API so it makes sense to put your contracts/dtos/request and response models in a separate assembly that both can reference

[2019-12-13 19:26] hypervtechnics commented on #23
@davidhenley Or maybe generate an api client using NSwag and MSBuild? This would make Blazor really just "a client" for the API instead of having to restructure the API part.

[2019-12-16 12:14] engineers-tools opened #33 "[QUESTION] How to add migrations?"
Hi Jason,
Thank you for this great project. I really like your concept of having the developer fall in a "pit of success".

I've been trying to use `dotnet ef` to add migrations but I get an error saying that the ApplicationDbContext cannot be created.

Is there a preferred/recommended way of doing this in this template?

[2019-12-16 15:54] Pyrobolser opened #34 "Domain Driven Design Model"
Hello, after reading some comments on your latest Youtube videos I read a little bit more about DDD models. It looks like you have been trying to implement some parts with ValueObject for example but not the full thing with aggregate, etc.

What is your opinion on all of this?

I was reading more about it [here](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/microservice-ddd-cq

[2019-12-16 16:03] bbarry commented on #2
This is something I've been struggling with as well: nobody seems to test their Startup or Program class; just taking for granted that if the application is running, that code must be correct and bug free?

This is wrong. We all make mistakes, registering singletons that depend on transient classes or letting some logic creep in to our startup code over the years. It seems clear that the root of t

[2019-12-16 17:27] chandrakanth553 opened #35 "Feature Request: React Presentation Layer"
Add feature to select options for UI Application.

[2019-12-16 22:46] danrocks opened #37 "Installation instructions don't work on Mac"
**Describe the bug**
Following the installation instructions when using a Mac does not result in installation of Nuget package.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Mac Terminal
2. Type "dotnet new -i Clean.Architecture.Solution.Template"
3. Press Return
4. See error
[code]

**Expected behavior**
Running installation on Mac should result in same behaviour as a PC and running

[2019-12-18 09:29] TheSchmu opened #38 "[Question] / Enhancement: Provide samples for overriding identity pages"
Hi Jason,

first of all: great template, thanks for all the hard work put into this repository!

Following the clean architecture approach, can you either describe or provide a sample implementation of overriding the default identity pages? It would be trivial to scaffold any given identity page, such as login, logout, pw reset, etc. via Visual Studio. But this would generate MVC based razor pages

[2019-12-18 17:57] LucaGabi opened #39 "API versioning & swagger UI"
**Is your feature request related to a problem? Please describe.**
Enable multiple API versions and the way to display those in the swagger UI.

[2019-12-19 04:21] mhornbacher commented on #33
To elaborate on this, the issue with this template when it comes to migrations is the following:

If run from the Infrastructure project the following error occurs:

[code]

If run from the WebUI project the following error occurs:

[code]

Would it be possible for you to elaborate on what you did to create the initial migrations (specifically including the Identity one?)

Thank you!

[2019-12-19 04:37] mhornbacher commented on #33
@engineers-tools Here is how to add migrations using this template:

1. install `dotnet-ef`
    1. `dotnet new tool-manifest` in the root of the repository
    2. `dotnet tool install dotnet-ef` in the same folder
2. run the following command to create a migration:
   - `dotnet ef migrations add MigrationName --project src/Infrastructure/ --startup-project src/WebUI/ --output-dir Persistence/Migra

[2019-12-19 07:47] MojtabaBarekati commented on #38
Hi TheSchmu and
  Hi Jason and thanks
i had this situation too!
i think it is not possible to do that  because of theory of single sign on (the app uses identity server).
let assume that we done that(turn razor pages to angular components) => what will happen when identity should redirect to other pages?!

i do not know that this idea is OK or not!!!

[2019-12-19 10:59] engineers-tools commented on #33
@mhornbacher Thank you for the solution, it works like a charm

[2019-12-19 10:59] #33 closed

[2019-12-19 16:19] mhornbacher commented on #33
Your welcome, glad I could help :-)

[2019-12-20 08:54] pauldbentley commented on #30
I would also be interested in this.  Would you add a `UserId` property to the `TodoList` entity?  But then I'm not clear where you would provide this value.  Would you inject a `ICurrentUserService` into `GetTodosQueryHandler` or would you add a `UserId` property to `GetTodosQuery` and set this in the controller?

[2019-12-20 18:30] MCCshreyas commented on #32
This is the template of clean architecture and NWT is built upon this template!
OR
Moreover, Jason created this CA template for those who want some clean architecture boilerplate.

[2019-12-20 18:56] teamsmiley opened #41 "anyone know why webui integration test icon different then others?"
![image](https://user-images.githubusercontent.com/4934139/71284334-5a094b80-2317-11ea-8f59-96d86cd75268.png)

what type of this project

[2019-12-25 15:35] swrocket opened #42 "Why does the Application layer depend on EF Core"
I am new to CA and found this repo extremely helpful in learning so this is more of a question than a feature request.
I noticed that in the Application layer (project) you define a DBContext interface (IApplicationDbContext) which requires you to add EF Core dependency to the Application project.
It seems to me that EF Core is an infrastructure concern, so I'm wondering why you did it this way vs

[2019-12-26 16:09] teamsmiley commented on #37
i test on my computer it works fine .

can you try again?
maybe you need install dotent core 3.1 sdk on your mac before you install

i did this

## dotnet core
[code]

[2019-12-29 23:30] danrocks commented on #37
Hi.

I'm pretty sure I got everything up to date but I'll try again with the script you sent. I'm away from computer s right now should manage on Thursday.

Thanks for getting back to me and happy new year.

Daniel

email: danieljohnkerr@hotmail.com mobile: 07921 469 720 skype: danieljohnkerr
________________________________
From: smiley <notifications@github.com>
Sent: 26 December 2019 16:09:06
T

[2019-12-31 09:40] larrygeo commented on #42
I had the same question about having dependency on EF core at the application level but EF is already an abstraction and implements the repository pattern (DbSet) ans UnitOfWork (DbContext) and the key point is that infrastructure depends on core (Application) and this change is huge.
So now changing the database it becomes much flexible and easier to achieve in general
If for some reasons you don

[2019-12-31 15:08] Pyrobolser commented on #38
@TheSchmu that's a great question, thank you for asking it I am really looking forward to the answer as it would make sense to have everything on the Angular side.
I tried to do it by myself but didn't succeed yet and for now I am using the MVC pages for this purpose, but I would love to get rid of them. Have you been able to find any examples or documentation to help you achieve this goal yet?

[2020-01-01 19:13] sq735 commented on #42
I have the another question about having dependency on external libraries, for example: MediatR and FluentValidation. Is it Ok?

[2020-01-02 17:03] bbarry opened #44 "Why is CurrentUserService implemented in WebUI?"
The fact that this application is using Identity with a JWT is hidden coupling within the Infrastructure project, so this project implicitly knows that it is a .net core web application already.

I feel like there is a disconnect here: either the web specific infrastructure should be in the web project, or the current user service should be in the infrastructure project.

Currently I am trying to

[2020-01-02 22:22] danrocks commented on #37
Hi.

Based on your email, I removed the latest version of dotnet-sdk:

sudo rm -rf /usr/local/share/dotnet/sdk/3.1.100

sudo rm -rf /usr/local/share/dotnet/sdk/3.0.101

Then I was able to successfully run

dotnet new --install Clean.Architectu​re.Solution.Template

and

dotnet new ca-sln

Excellent.

The solution opened but immediately reported problems on the package manager (sorry I didn't recor

[2020-01-03 15:53] morgrowe commented on #25
@JasonGT Just a minor thing I stumbled on today in relation to this question.

Visual Studio CA tools complains about nesting public classes inside of other public classes: [CA1034](https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1034?view=vs-2019).

I see in your final comment, you mentioned you were planning on using this approach:

[code]

Is that still the approach you'd recommend

[2020-01-05 08:09] nkw opened #45 "Browser got console errors and cannot login when `dotnet run`. However, it works in visual studio?"
**Describe the bug**
I followed the steps, added the template and created a new project. And use `dotnet run`. Browser can open the page. However, it got the following error in the javascript console and login doesn't work.

zone-evergreen.js:1042 GET http://localhost:58600/_configuration/padmatch.WebUI 404 (Not Found)
(anonymous) @ zone-evergreen.js:1042
(anonymous) @ authorize.service.ts:177
(an

[2020-01-10 01:03] cpm205 opened #46 "Multiple Microservices with API gateway"
Hi Jason,

What's the best way to implement CleanArchitecture for multi-microservices with an API Gateway?
Do you have any suggestion?

Regards,
Derek Hu

[2020-01-10 06:40] dheltanumericz opened #47 "How to add migration?"
I am having error (_**Unable to create an object of type 'ApplicationDbContext'. For the different patterns supported at design time, see https://go.microsoft.com/fwlink/?linkid=851728**_) when running "dotnet ef migrations add sampleMigation" inside the infrastructure project. Am I doing the right way?

Kindly advise.

Thanks!

[2020-01-11 12:13] foondook commented on #47
@dheltanumericz you're doing it the right way, but you're missing the `DesignTimeDbContextFactory` EF can use for generating migrations.

The easiest is to refer to this code in another Jason's repo:
https://github.com/JasonGT/NorthwindTraders/blob/master/Src/Persistence/DesignTimeDbContextFactoryBase.cs

[2020-01-12 01:32] achmstein opened #48 "Long running tasks (Quartz.NET)"
Hello,

I would like to use Quartz.NET. Where should I define my jobs? And how to schedule jobs?

Thanks

[2020-01-12 21:38] Itaanikus opened #49 "Is it possible to use MySQL"
Hi,

Thanks for the really great project/template! I'm not sure if this is the right place to ask, but is there a way to use MySQL as DB?
I have tried installing Pomelo.EntityFrameworkCore.MySql and shifting the "UseSqlServer" to "UseMySql", but it fails with migrations.

Best,
Itaakara 'Itaanikus'

[2020-01-13 12:51] satem02 opened #50 "jwt token creation"
**How to create jwt token**

Hi, feature request because I did not know.

1 - How do i proceed to generate jwt token.
2 - How do i add claims information.
can you help me.
thanks.

[2020-01-13 17:03] Pyrobolser commented on #50
Hi, I found out that using IdentityServer with **_AddIdentityServerJwt()_** and the parameters in the _appsettings.json_ is actually doing a lot behind the scene and is making things a little bit complicated to override properly.
If you find a better solution, please let me know as I am curious too, I think at one point I am going to follow the documentation of IdentityServer and implement it by m

[2020-01-15 13:25] alberthoekstra commented on #47
I execute this from the src folder:
[code]

[2020-01-15 13:29] alberthoekstra commented on #25
I like the approach of @davidhenley too, it's way faster to create new commands like this. Just rename 1 single class and your good to go.

But currently I'm not using it because I use Nswag to generate Typscript classes. If I use this 1 file approach I get lots of typscript classes with same 'Request, command, etc.' names.

[2020-01-15 14:54] davidhenley commented on #25
@alberthoekstra you can change the config to use the DeclaringType name so you have the right client names.

[2020-01-16 01:07] dheltanumericz commented on #47
Thank you @alberthoekstra @foondook. I was also able to create migrations using this command.

dotnet ef migrations add MIGRATION_NAME --startup-project=..\WebUI --output-dir=Persistence\Migrations --verbose

[2020-01-16 01:09] #47 closed

[2020-01-16 09:55] kmhigashioka commented on #49
Yup, you have to re-create the migrations. Just run `Add-Migration` script on `Persistence` project.

[2020-01-16 18:40] grassit opened #51 "The template project failed to start npm, though npm is in PATH"
I try to build and run the  default project created from  [https://github.com/JasonGT/CleanArchitecture](https://github.com/JasonGT/CleanArchitecture) in .NET Core 3.1.100 in Ubuntu.

(1) It has a project for each layer. However, it doesn't ask me to explicitly build the other projects than the webUI project, according to these two steps:

* Run `dotnet new ca-sln`  to create a new project
* Navig

[2020-01-16 18:41] grassit opened #52 "How may I replace LocalDB/SQLServer with SQLite and resolve dependency package version mismatching?"
I try to build and run the  default project created from  [https://github.com/JasonGT/CleanArchitecture](https://github.com/JasonGT/CleanArchitecture) in .NET Core 3.1.100 in Ubuntu, though my questions are not specific to Ubuntu. It uses LocalDB and SQL Server, and I try to replace them with other database systems, e.g. SQLite (it can also be InMemory provided by EF, PostgreSQL, MySQL), by making

[2020-01-16 19:24] grassit opened #53 "Build errors of default project on Ubuntu"
I would like to try the default project created from the template  on Ubuntu 18.04. I have installed SQL Server `mssql-server_15.0.4003.23-3_amd64.deb` and choose Express as edition. Since LocalDB is Windows only, I figure that I have to modify `src/WebUI/appsettings.json` to replace LocalDB connection string with the following SQL Server connection string (I am not sure if it is correct):

[2020-01-16 19:46] Itaanikus commented on #49
By creating a new solution I did following:
* Install NuGet Pomelo.EntityFrameworkCore.MySql
* Edit "UseSqlServer" to "UseMySql" in MySqlTest.Infrastructure.Dependencyinjection
* Edit appsettings with right connectionstring

I get this following error when trying to add-migration:

An error occurred while accessing the Microsoft.Extensions.Hosting services. Continuing without the application servi

[2020-01-17 23:01] #53 closed

[2020-01-17 23:01] grassit commented on #53
The project name "default" is a keyword in C#.

[2020-01-18 01:40] grassit opened #55 "What is the purpose of class DependencyInjection in the Clean Architecture template project?"
In [https://github.com/JasonGT/CleanArchitecture](https://github.com/JasonGT/CleanArchitecture), `Startup.ConfigureServices()` in `src/WebUI/Startup.cs` registers services for dependency injection.

`AddInfrastructure()` in `src/Infrastructure/DependencyInjection.cs` also registers services. But is it correct that class `DependencyInjection` and method `AddInfrastructure()`  are not used in  any o

[2020-01-18 21:19] tomfroehle commented on #52
I forked the project and made a few changes so it works with Sqlite.

You can have a look at this commit:
https://github.com/tomfroehle/CleanArchitecture/commit/6b243ac283160a01c9ac5f437314b75b70176340

One thing to mind: The migrations that are in the project don't work for Sqlite because they are SQL Server specific. You would have to add custom Sqlite Migrations. My quick fix was to remove the

[2020-01-18 21:23] tomfroehle commented on #55
The method AddInfrastructure is used in the Startup.ConfigureServices():          https://github.com/JasonGT/CleanArchitecture/blob/c1c3c97c0d105655b04e9023af7ac076a7b7f6a5/src/WebUI/Startup.cs#L37

The purpose of the DependencyInjection class in the Infrastructure project as I understood is to encapsulate the dependencies of one project in a single call (e.g. AddApplication, AddInfrastructure).
J

[2020-01-19 23:22] SuliemanMansouri opened #56 "[Feature Request] Adding Roles to Identity Server"
I am still new to Identity Server, still reading and exploring. I saw that there are roles that can be used to classify users. I don't know how to start that within this template and how to derive from my users in my domain.

My request is to include roles in the template.
How to use them to restrict access to certain controllers or certain methods in a controller if possible.
Show navigation item

[2020-01-21 20:04] Itaanikus commented on #49
I put one up here:
https://github.com/Itaanikus/MySqlTest

[2020-01-24 00:17] NhatTanVu commented on #51
Hi grassit,

Can you show us the InnerException mentioned above?
Furthermore, seems that it's a known [issue](https://github.com/dotnet/aspnetcore/issues/18201) in VS 2019 v16.4.1

Hope it helps.

[2020-01-24 09:04] Sekin commented on #51
I can also use npm on the command line. However, VS Code shows me the following inner exception. I used the Debug and Run button to launch the program.

`System.AggregateException: One or more errors occurred. (One or more errors occurred. (Failed to start 'npm'. To resolve this:.`

[1] Ensure that 'npm' is installed and can be found in one of the PATH directories.
    Current PATH enviroment vari

[2020-01-24 15:56] vnc4567 opened #57 "Why Mapping method with default implementation doesn't work ?"
Hello,

In the interface IMapFrom, there is a default implementation for the Mapping method

[code]

If I have a Class PersonVM which implements IMapFrom like this

[code]
It will throw an exception at runtime : "The mapping between PersonVM and Domain.Person is not found."

It will work If I implement the interface IMapFrom like this :

[code]

Am I missing something? I don't want to implement a

[2020-01-26 08:22] JanOonk commented on #57
Will it help if you remove the **Domain.** namespace prefix before Person and include this namespace in the usings at the top?

[2020-01-26 09:54] #57 closed

[2020-01-26 09:56] vnc4567 commented on #57
Sorry, it's a mistake. The problem is in an other project (NorthwindTraders) The mapping profile is different in CleanArchitecture project and it works perfectly.

[2020-01-29 00:21] Semicolon192 commented on #38
Man I would love to know this too, It gets overridden a little bit with the _LoginPartial.cshtml but I cant figure out how it actually targets the IdentityServer Login page its soo weird! I don't see the views at all and Identity Server docs have no actual examples with using the built in views.

Also the Pages navbar don't match the original IdentityServer nav I don't see any reference to this be

[2020-01-29 02:20] Semicolon192 commented on #38
Okay I figured out How! Its so hard to get Information about this. Sorry I'm trying to run out the door now but........

started from here
[Scaffold-Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-3.1&tabs=netcore-cli)

Didn't fully read it but it seems Microsoft has the pages precompiled if you dont include them

So just to generate

[2020-01-29 14:51] Pyrobolser commented on #38
@Semicolon192 That part I was ok with.
You can also right-click the Web project and in the Add menu select New Scaffolded Item.
So this add all of the actual views in the project and you can override from here but I was looking for an actual clean Angular solution to replace all of this but maybe there is no other solution than "Just do it yourself" for the moment.

[2020-01-31 13:57] TANIAX commented on #50
You just save me an infinite numbers of hours

[2020-01-31 16:16] TANIAX opened #58 "[Question] How do I set an applicationUser to an entity as child object ?"
Hello,

I'm new to .net core and just began to clean arch, but I got some trouble to getting started

Can you help me?

`
public class TodoList
    {
        public int Id { get; set; }

        public virtual ApplicationUser AssignTO { get; set; }
   }

`

I can't do this because Applicationuser comes from Infrastructure, and my object entity comes from the domain

I have a circular dependency ..

[2020-02-01 01:20] KyleCraviotto commented on #7
I was actually about the ask the exactly same question. What would be the ideal way to handle this?
For example a command that creates a complex work item object that would then get saved to the db.
You 'could' map it all by hand in the *CommandHandler.Handle
but that does seem like a lot of work when you could have something like AutoMapper do a reverse map on it for you... Really curious how wel

[2020-02-03 12:33] patrickreinan opened #59 "Separate commands from its handlers"
Hi Jason,

I watched your presentation about C.A. on Youtube. I think is cleaner if you separate command and command handlers in two classes. The command responsability is only to carry data (simple DTO) and command handler is responsible to process command.

[2020-02-03 12:40] patrickreinan opened #60 "Commands and Queries can be Value Objects"
Commands and queries can be Value Objects.

[2020-02-04 23:11] PureKrome commented on #60
@patrickreinan Maybe elaborate on your statement. Give some examples of how things can be better, etc.

[2020-02-05 01:49] patrickreinan commented on #60
Hi @PureKrome ,

I think the code is more consistent if Commands and Query are created like a Value Object. This way, the object is immutable and holds the same data through the trip on stack.

[2020-02-05 02:25] PureKrome commented on #60
I know what you're meaning ... I just thought it might be nice (via code) to express 'before' and 'after' examples.

Value objects seem to also shine when it comes to comparing also. So I was curious if that was a reason for wanting to make them, that?

[2020-02-05 20:21] x4int opened #61 "SignInManager.IsSignedIn(User) == false"
Hey!

Could anyone tell me why **SignInManager.IsSignedIn(User) == false** here, when accessing the root page, and is working ok when accessing the Login or Register pages?

[2020-02-06 10:10] alberthoekstra commented on #25
@davidhenley happen to have an example of that? I can't figure it out unfortunately, I don't have much experience with nswag.

[2020-02-06 14:02] x4int commented on #61
Sorry I forgot to mention that I've changed the frontend to a .NET Core MVC app..

[2020-02-06 23:55] PureKrome opened #62 "Why is the Infrastructure project referencing netcoreapp ?"
**Describe the bug**
I've noticed in the [Infrastructure.csproj](https://github.com/jasontaylordev/CleanArchitecture/blob/master/src/Infrastructure/Infrastructure.csproj#L4) file that it is targetting `netcoreapp3.1` yet the SDK is the normal one (not the web sdk).

Why is this?
I thought the `netcoreapp` should be the project which contains the HOST (e.g the WebUI / WebApi project).

I'm wonderin

[2020-02-07 13:13] patrickreinan commented on #60
Hi @PureKrome,

I understand your question. I agree with you about value object comparison. But the reason why I think use a value object is only to hold the object data during the trip on stack. So this way, I will be sure that the same data was input at the begin of request, is the same data that will be finish the request. So the application will allocate memory once (when the object is created

[2020-02-10 03:33] felipesolish commented on #61
Hi!! We're having the same issue when adding MVC controllers

[2020-02-10 09:55] jasontaylordev commented on #62
Hi @PureKrome - thanks for the question. The Infrastructure project targets netcoreapp3.1 as Microsoft.AspNetCore.ApiAuthorization.IdentityServer depends on netcoreapp3.1.

[2020-02-10 09:55] #62 closed

[2020-02-10 09:55] jasontaylordev commented on #61
Not sure, could you share an example project, please?

[2020-02-10 10:09] jasontaylordev commented on #60
I think implementing immutable types well in C# is quite hard to do. In this case, I've opted for the simplest approach - DTOs without any kind of restriction on read / write.

Agreed.

The commands and queries are just DTOs in this case. I want them to be as simple as possible and unrestricted in relation to assignment and construction. You can see in this solution, they are not changed as they p

[2020-02-10 10:13] jasontaylordev commented on #59
I used to keep them in two separate classes as suggested, but I much prefer the combined approach. The reason to keep them together is that it improves discoverability of the handler. If they are separate, pressing F12 on the CreateCustomerCommand takes me to the command only. I have to use the solution explorer or keyboard wizardry to find the handler. If I put them both in the same file when I p

[2020-02-10 10:29] jasontaylordev commented on #58
Hi @TANIAX. Ideally, you should keep Identity concerns such as **ApplicationUser** separate from your **Domain**. If you would like a list owner, as per your above example, this could be implemented as follows:

[code]

In this way, you know who owns the list, without need to reference `ApplicationUser` directly.

If you need to do more, you might consider creating a separate **User** entity withi

[2020-02-10 10:32] jasontaylordev commented on #56
Greate suggestion Sulieman - I've added it to the roadmap. @notedchef is this something you are working on?

[2020-02-10 10:34] jasontaylordev commented on #55
This is correct, I think it is a nice and simple approach to managing dependencies across layers using the built-in .NET Core DI.

[2020-02-10 10:34] #55 closed

[2020-02-10 10:40] jasontaylordev commented on #52
Thanks for your sample solution, @tomfroehle.

Perhaps I should use Sqlite or InMemory as the default? - since both are cross-platform.

Thoughts?

[2020-02-10 10:43] jasontaylordev commented on #51
Sorry for the difficulties. I am not sure if you still need help, but if so - let me know. If I don't hear from you I'll assume it is sorted, and close this issue in a few days. Thanks.

[2020-02-10 10:45] jasontaylordev commented on #50
Thanks for your solution, @Pyrobolser.

[2020-02-10 10:45] #50 closed

[2020-02-10 10:47] jasontaylordev commented on #49
Thanks for your sample, @Itaanikus.

[2020-02-10 10:47] #49 closed

[2020-02-10 10:56] jasontaylordev commented on #48
Hi @achmstein. I haven't used Quartz.NET - but treat it the same as you would other infrastructure. Within application, create an interface and associated types. For example:

[code]

In the above example, the interface and associated types (`Job` and `Trigger`) are not related to Quartz.NET. In fact, the application layer has no reference to the Quartz.NET package.

Within Infrastructure. add a r

[2020-02-10 11:00] jasontaylordev commented on #46
Hi Derek. Thanks for your question. Apologies, however, I don't have time to invest in this right now since it is not a core concept I am trying to demonstrate as part of this repository.

Suggest that you take a look at https://github.com/dotnet-architecture/eShopOnContainers. Happy coding!

[2020-02-10 11:00] #46 closed

[2020-02-10 11:02] jasontaylordev commented on #45
Sorry for your troubles @nkw. Please work through my latest blog post and see if that helps you get up and running; https://jasontaylor.dev/clean-architecture-getting-started/.

Otherwise, report back with your issue here and I'll help.

[2020-02-10 11:03] PureKrome commented on #62
Ahh kewl. gotcha. so if you're not planing on using IDSvr (but maybe using Auth0 for example) then this project could still target NS20. Kewl. gotcha.

[2020-02-10 11:15] jasontaylordev commented on #42
In relation to Clean Architecture, we should aim to be independent of frameworks and database. In the usage of EF Core (an abstraction as @larrygeo has mentioned), I am not independent of a framework but still independent of the database. If I wanted to strictly adhere to these principles I would implement the repository / UoW patterns. The same goes for MediatR and FluentValidation.   However, if

[2020-02-10 11:19] jasontaylordev commented on #41
Hey @teamsmiley. I think it is because in ASP .NET Core 3, it was necessary to specify the Web SDK in the project file (<Project Sdk="Microsoft.NET.Sdk.Web">); https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-3.0#test-app-prerequisites.

As of 3.1, this is no longer the case:

![image](https://user-images.githubusercontent.com/1988321/74145582-f16d8980-4c4a-11ea-

[2020-02-10 11:19] #41 closed

[2020-02-10 11:21] jasontaylordev commented on #39
Hi @LucaGabi. This is not a concept I am looking to cover as part of this repository. You should be able to find some use resources elsewhere, e.g. https://dejanstojanovic.net/aspnet/2018/november/setting-up-swagger-to-support-versioned-api-endpoints-in-aspnet-core/. Happy coding!

[2020-02-10 11:21] #39 closed

[2020-02-10 11:25] jasontaylordev commented on #38
This is not something I have done yet. I would love to rewrite all as Angular components but not sure if I can take a partial approach. It seems like a lot of work. I would essentially scaffold, as per above, rewrite as Angular components, and rely on JavaScript services and client-side routing to do the rest. This is all in theory. I haven't tried as yet.

Thoughts?

[2020-02-10 11:27] jasontaylordev commented on #37
Hi all. Thanks for working through these issues. I've published a new post https://jasontaylor.dev/clean-architecture-getting-started. Let me know if you think any updates are required for Mac users.

[2020-02-10 11:29] jasontaylordev commented on #35
Hi @chandrakanth553 - this would be an awesome feature! I would love to support Angular, React, and Vue. Sadly, I am not sure I have the capacity to make this happen. I'll add it to the roadmap anyway - fingers crossed.

[2020-02-10 11:32] jasontaylordev commented on #34
Hey @Pyrobolser. I'm not going for a DDD approach as part of this template. I want this approach to be as simple as possible, a starting point for any enterprise app. If I see duplication across commands or queries I would push that logic into the domain. If the domain model was sufficiently complex, I might take a DDD approach right from the beginning. The template provides the flexibility to tak

[2020-02-10 11:38] achmstein commented on #48
I really appreciate your help. Thank you.

[2020-02-10 11:38] #48 closed

[2020-02-10 11:48] jasontaylordev commented on #32
Hi @davidhenley - thanks for the questions and sorry for the late reply. I've limited capacity right now, recently had twins and sleep is hard to come by. 😐

I built Northwind Traders first, just as a sample project in .NET Core / EF Core so I had something to try things out. The template was built as a result of everything learned from Northwind Traders. I want to focus most of my effort on the t

[2020-02-10 12:34] patrickreinan commented on #60
Hi @jasontaylordev,

I understood your simple approach. Makes sense in your application because it so simple. I agree without you in this case. You thought KISS. ;)

I have a similar project in github, but I'm using V.O. instead DTO. The business rules is in Portuguese language, but you can check the code if you want.

I think is good use V.O. when the project is big and need more consistent.

[2020-02-10 12:36] patrickreinan commented on #59
Good!

I like to separate it, but I agree with you. Makes sense.

[2020-02-10 15:04] Pyrobolser commented on #34
Thank you for the details.
I was thinking about this because I have some Get methods that are either **GetThisForTheCurrentUser** or **GetThisByPrimaryKey** and the query behind this is going to be exactly the same but once I'll just get the primary key from the connected user model first.
So you'd say to move the queries inside the model in that case?

Thank you for taking some time for us!

[2020-02-10 15:07] tomfroehle commented on #52
Would be nice if it ran out of the box without any infrastructure. The only thing would be, that you need separate migration steps for Sqlite

[2020-02-10 15:29] Pyrobolser commented on #38
In my opinion, I do not think any of this is actually _on you_. As of today, the ASP.NET Core Angular template is still _in between_ two worlds because of the authentication part. It makes stuff kinda weird for the CSS, etc.

If you want the authentication part, there is no easy way to opt out what you don't need, you have to add them explicitly and redirect the user to your home page. For example

[2020-02-10 19:12] TANIAX commented on #58
Hi @jasontaylordev, thanks a lot for your anwser !

The second approach is the best solution for me, just tested it and it 100% working for my needs.

[2020-02-10 19:12] #58 closed

[2020-02-10 20:24] Trigun27 opened #63 "[Question] Error Handling from Infrastructure layer"
Thank you for your project!

I have a REST service that I'm connecting to.  The service is at Infrastructure level.
But, where do I process errors of answers from REST?
As I understand it, I can't return HttpResponse to the App level because it's leaking. It's just important for the App to know if the request was successful or not.

As I see it.
1) try .. catch inside Application layer for a certa

[2020-02-10 21:26] jasontaylordev commented on #63
You’re welcome. Suggest looking at https://github.com/jasontaylordev/CleanArchitecture/blob/master/src/Application/Common/Interfaces/IIdentityService.cs. I’m using a result class in this case. Use a try catch only if you can handle the error in the Infrastructure layer e.g. retry or cached, if not Result class.

On 11 Feb 2020, at 6:24 am, Vasiliy Pereverzev <notifications@github.com> wrote:

﻿

T

[2020-02-11 07:21] grinay commented on #44
Because  CurrentUserService getting user's data from HttpContext which is part of the WebUI layer and it shouldn't leak to other layers with higher level.
Of course there can b even more abstraction like InfrastructureWeb and then WebUI, but in my opinion it 's just redundant.

[2020-02-11 08:30] 1ronclad opened #64 "readme.md issue link is folder dependent"
**Describe the bug**
The name of the folder where solution template is installed is substituted into an issue link in readme.md

**To Reproduce**
Steps to reproduce the behavior:
1. Create folder named, for example 'New Folder'
2. run dotnet new ca-sln
3. Open readme.md and check issue link in support section
4. See folder name as part of the link

**Expected behavior**
Issue link is hardcoded

[2020-02-11 09:33] Warrolen opened #65 "This architecture along with IdentityServer4"
Hello, people!

I watched [this video](https://www.youtube.com/watch?v=5OUQZAvxZuA) and I'm trying to understand how does IdentityServer4 work along with this architecture.

Could you please note things/explain me how to do it properly? By the way, I'm using ASP.NET Core 3.1 and Angular 8 and I want to implement the jwt authorization.

I have the following project structure:

[code]

As far as I u

[2020-02-11 13:08] SuliemanMansouri opened #66 "[Feature Request] Opt out of Identity Server, or include docker support"
I love the template for all the work done on mapping, testing, and CQRS.
But when I tried to make the template work on local IIS  I ran into lots of problems.

Right now I have to generate a certificate and add it to local store, fiddle with appsittings.json to include a key to the certificate. When all this is done I end up with an application that is stuck in login screen entering login informat

[2020-02-11 17:46] x4int commented on #61
Sure thing!

https://github.com/x4int/CA-MVC-DEMO

[2020-02-11 18:35] sularz-maciej commented on #65
Yes, I would like to know an answer to the above question too.

Any insight would be much appreciated.

I'm currently building an e-commerce site as Microservices, however I want to keep the customers separate from the Admin Dashboard users aka employees. I Have implemented the CQRS pattern and am using native .Net Core Identity at the moment. I will potentially be considering basing the customers

[2020-02-11 22:14] x4int commented on #61
It is something with the IdentityServer configuration.

[2020-02-11 22:34] felipesolish commented on #61
We figure it out that is the identity schema. If you enable default identity schema works. But we weren't able to enable bearer and identity schemes in order to authorize Api and MVC together.

________________________________
From: Jason Taylor <notifications@github.com>
Sent: Monday, February 10, 2020 4:55:54 AM
To: jasontaylordev/CleanArchitecture <CleanArchitecture@noreply.github.com>
Cc: feli

[2020-02-12 06:15] yehudamakarov commented on #66
What exactly is this related to? Were you able to find out?

What exactly should i do to try and reproduce?

[2020-02-12 12:56] TheSchmu commented on #38
I agree with @Pyrobolser , this shouldn't be on you :-)

If I find the spare time, I would love to prepare a sample on how to approach my mid-December thoughts. I'm thinking of implementing maybe two or three views and providing a guideline for others to approach the "rest".
I actually kinda like the project structure of the aspnetboilerplate team, in which they created a separate ngmodule contain

[2020-02-13 03:14] ToperCarlos opened #67 "Is It Possible to add Repository & UnitOfWork on the Application or Infrastructure Layer?"
**Is your feature request related to a problem? Please describe.**
I'm always asking if I could implement the Repository / UnitOfWork on Application or Infrastructure Layer so that some of the queries that are reusable.

I also wanted to use those Repo on Command & Query part just for the reusability.

Let say for instance:

I Have Doctor's Appointments Data and i wanted to create a filter per sta

[2020-02-14 03:05] GFoley83 commented on #56
I asked a similar question here: https://github.com/jasontaylordev/NorthwindTraders/issues/92#issuecomment-562359454

around the appetite for moving the auth logic out of Presentation (no `[Authorize]` attributes in controllers) , into the Application layer and what that approach might look like.

I do have a local branch for NorthwindTraders working that applies role checking as a pipeline behavi

[2020-02-14 08:10] Mat2001mat commented on #56
@GFoley83 would you be able to share your implementation with us?

[2020-02-16 11:06] GFoley83 opened #68 "[Bug] Seed data for adding default user is not updating database"
**Describe the bug**
Title says it all. `ApplicationDbContextSeed` is running but the default user is not getting added to the Db. I can register new users fine; it's just the seed data that's the issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Check out a fresh copy of `master`.
2. Delete existing `CleanArchitectureDb` if present.
3. Run application from VS.
4. Verify that `dbo.AspNe

[2020-02-16 13:01] AiratShaimuhamitov opened #69 "More complicated model relations in database (many-to-many link)"
Hello, it's rather a question than a report. I've just started implementing a project with this template and come across the problem with many-to-many relation of my database models. So the problem is: I have two models that have to be linked to each other with a many-to-many link, such link requires a third table/model and I put this model to Domain layer. It works fine but doesn't look like an e

[2020-02-16 18:05] yehudamakarov commented on #35
I'd be interested to help with a React UI layer.
I'm thinking to start an application now using this template and I will use a React layer.

[2020-02-16 18:11] yehudamakarov opened #70 "Docker / containerization support"
I believe Northwind Traders had a dockerfile.
Either way, it seems fitting that such a template is able to be built in a container right away.

I'm happy to help / contribute as I'm about to figure out the best way to accomplish this for a project I need to begin.

Just need some pointers to contribute productively.

Related to
#66

[2020-02-17 12:30] khaledafify commented on #24
did you solve this issue ?

[2020-02-17 16:44] JasonFoglia commented on #67
Infrastructure would be my best assessment.

[2020-02-18 16:53] Pyrobolser opened #71 "Extend ApplicationUser with Domain entities relationship"
Hello,

I was wondering how one could extend the `ApplicationUser` the cleanest way possible if I need a one-to-many relationship between `ApplicationUser` and one entity from my Domain project.
Should I just move `ApplicationUser` to my Domain model? Right now, I cannot do it since my domain model has no idea about `ApplicationUser`.

[2020-02-18 17:16] khaledafify commented on #71
try this solution
https://github.com/jasontaylordev/CleanArchitecture/issues/58#issuecomment-584055887

[2020-02-18 17:17] Pyrobolser commented on #71
I will check it out, thank you!

[2020-02-18 17:29] Pyrobolser commented on #71
So, in my case, I need the "more complex solution" since I need an `ApplicationUser` to have a specific `EntityId` and my `Entity` has a `ICollection<ApplicationUser>` so I should have an extra `User` table within my Domain with an `IdentityUserId` if I understand correctly?
I don't think this is going to actually help me since at one point I am going to need to had all those tables/foreign keys t

[2020-02-18 22:01] GFoley83 commented on #69
This is a Db design issue, which has nothing to do with this solution. Questions like this belong on StackOverflow.

Opinions vary but adding a model for your junction table is fine:
https://lostechies.com/jimmybogard/2014/03/12/avoid-many-to-many-mappings-in-orms/

Good luck.

[2020-02-18 22:03] SuliemanMansouri commented on #66
Hi @yehudamakarov , in order to reproduce my problem, you need to publish the template as it is into a local IIS on windows 10.
I just create a new project from the template build it then trying to host it in Windows 10 IIS.
First error is:
HTTP Error 500.30 - ANCM In-Process Start Failure. When checking event viewer I found 4 erros and one warning.
Warning: (.Net Runtime)
User b4bb6a81-f067-41f1-

[2020-02-18 22:11] GFoley83 commented on #71
The comment khaledafify linked to solves your problem I feel:

`User` has an `EntityId` and a `IdentityUserId`. `Entity` has an `ICollection<User>` for example. No need for `ApplicationUser` to be added to the Domain class.

[2020-02-18 22:21] Pyrobolser commented on #71
When adding the `Configuration` for the new User model with EF model builder, how do I tell the model builder that there is a one-to-one relationship between `User` and `ApplicationUser`?
I think I'm not getting this solution, where in the application should I use `ApplicationUser`, where should I use `User` then?
Sorry if it's obvious, it's just getting more confusing like this to me.

[2020-02-18 22:23] GFoley83 commented on #67
Interfaces in Application, implementation in Infrastructure.

UoW is not needed with this solution; each command is essentially a UoW. `DbSet` is already a repository so adding an extra repository layer abstraction is also redundant IMO.
A service layer for recurring business logic can certainly be useful but I'd only add a repository layer if you're sure that the shared code will _never_ need to

[2020-02-19 06:35] GFoley83 commented on #71
You don't because `ApplicationUser` isn't part of your domain. `ApplicationUser` is only meant to be used for identity management i.e. storing info about the users of your system.

If all you're trying to do is associate who owns a particular custom entity, have it inherit from `AuditableEntity` just like `TodoItem` and `TodoList` do. If you look in the `SaveChangesAsync` inside `ApplicationDbCont

[2020-02-19 08:16] pareshjoshi opened #72 "Angular 9 support"
Angular 9 is officially released on 7 Feb 2020. Version 9 moves all applications to use the Ivy compiler and runtime by default. It has been updated to work with TypeScript 3.6 and 3.7.

It would be good to have this template updated to target Angular 9.

[2020-02-19 17:02] Pyrobolser commented on #71
I want the current user connected to the application to be able to access one specific `Entity`.
So I just added an `EntityId` in my `AspNetUsers` table.
This `Entity` is already in the database and is not created nor updated by the `ApplicationUser` itself. This user just owns it and can access it.

[2020-02-19 18:37] s-whaley commented on #68
If I'm not mistaken, the password used for seeding the user does not meet the default password requirements.

[2020-02-19 21:07] GFoley83 commented on #30
This is exactly what you would do.
If you're going to be querying on `CreatedBy` frequently then might be good to add an index on it too.

[2020-02-20 18:15] GFoley83 commented on #71
Then you already have multiple options listed above to accomplish that.

The easiest and quickest way is to simply have `Entity` inherit from `AuditableEntity`. This way the `CreatedBy` property will be populated with the current user's ID automatically when `Entity` is added to the Db.

When retrieving `Entity` from the Db, just inject `ICurrentUserService` into your Get Entity handler and select

[2020-02-21 23:55] GFoley83 commented on #68
You were right  @s-whaley. That was the issue. Awful behavior to have that silently fail instead of throwing a useful exception. Added a PR to address.

[2020-02-23 11:33] GFoley83 commented on #56
@Mat2001mat  See here:

https://github.com/GFoley83/CleanArchitecture/commit/abe8c74c5fc010c74df5d3ac4256d8aef18b8493

This is an updated implementation for CleanArchitecture that supports roles and role checking via a behavior pipeline.

I've added the ability to:
* Assign users to a role - see the default user added via `ApplicationDbContextSeed`.
* Check if the user is assigned to a role via th

[2020-02-23 11:34] iammukeshm opened #74 "Clean WebAPI Architecture"
1.Can I use this architecture for setting up the .NET Core API when using the API First Approach for my project? I really want to avoid the Angular part. Just a clean API.

2.Is it fine to install the aspnetcore.identity to the domain layer, as i want to move the ApplicationUser.cs to the Domain ? I want the API or IdentityServer4 to be responsible for authenticating users. So that i have it all c

[2020-02-23 23:48] GFoley83 commented on #74
1. This project already does that, The Angular client app is just supplementary; if you don't want it, just delete the `ClientApp` directory and you're left with a Core Web API project.

2. No it's not a great idea to make `ApplicationUser` a domain entity and there's already been quite a bit of discussion on this: https://github.com/jasontaylordev/CleanArchitecture/issues/71, https://github.com/j

[2020-02-25 18:42] #74 closed

[2020-02-25 18:47] iammukeshm opened #77 "IdentityServer4"
I notice that IS4 is integrated into this solution. But how is it setup / how is it configured? Is it co-hosted along with the API ? Can i find some documentation or explanation of configuring client and api resource properties.

What would happen if i Remove the ClientAPP Folder? will the API be able to still generate access tokens that i can send to another presentation layer? Kindly let me know

[2020-02-26 09:25] MCCshreyas opened #78 "Ideal place to put BusinessLogic"
So, I am using this template quite a while now. Right now the there are only CRUD application scenarios in this template, where you just request for the data from one domain and then via meditr the request is raised and you get the new data.

But I am looking for more complex scenarios. Consider a situation where we need to get or put data from/to multiple domain objects and then do some operation

[2020-02-26 21:13] GFoley83 commented on #78
It really depends on what you really mean by business logic.

If you just mean orchestration, i.e. retrieving all `Users` and `Todos` from the Db and mapping the data to a view model, which will ultimately be passed to the presentation layer, then everything inside your `GetTodosAndUsersDetails`, all this can take place inside a single command handler. Your command handler is your service layer. A

[2020-02-27 05:49] MCCshreyas commented on #78
But we cannot call another query handler in one query handler, let say I have a query like `GetEmployeeByUserId `and in Employee, I have `managerID`, now I want to get the Manager name based upon the ID and return the employee details along with his manager name to the controller.
Now I will get Employee details in the handler of `GetEmployeeByUserId `query, but to retrieve manager details, I cann

[2020-02-27 10:18] GFoley83 commented on #78
I think you misunderstood my comment. I'm saying don't use two handlers at all, put everything you're talking about with employee and manager in one handler.

It's perfectly fine to load data from multiple sources, from a single handler.

[2020-02-27 10:47] MCCshreyas commented on #78
So you mean inject employeeRepository and ManagerRepository in the same handler which is responsible `GetEmployeeByUserId` CQRS? is it a good practice?

[2020-02-27 19:43] GFoley83 commented on #78
Yes, extractly. It's perfectly fine to to inject more than one repository into the handler. No need to over-engineer the solution when the use-case (sounds like some basic CRUD operations) is simple.

I don't use repositories with a solutions like CleanArchitecture, as I feel they are a redundant abstraction. Which I think is also why there are none in this solution also.
Instead of injecting ever

[2020-02-28 18:46] MCCshreyas commented on #78
Ok. Thanks for the explanation. So at last it's not bad to include some complex business logic in handler which needs data from multiple repositories.

[2020-02-29 22:33] kingjordan commented on #70
I am also interested in this ! 👍

[2020-03-02 21:15] GFoley83 commented on #72
Probably wouldn't take much work if you feel like opening a PR for the changes?

[2020-03-03 02:23] MCCshreyas commented on #72
Does Jason mereges those PR?

[2020-03-05 12:48] fawadtayyab123 opened #79 "Separate Projects for angular & .net core"
I want to have separate projects for both of angular and .net core.  I tried to separate the solution but I'm stuck at a point. But I want to use clean architecture with given features. kindly guide me in separating angular project or add option in your project.So that we can use in both ways either single solution or separate solutions.Thanks a lot

[2020-03-05 13:06] fawadtayyab123 commented on #74
@GFoley83  kindly guide me if I delete ClientApp and connect another client from I want to authenticate and authorize the users. How would i do that ? Please guide me. Actually I already have an angular project built and I want to connect that project to this clean architecture.Thanks

[2020-03-05 13:16] yehudamakarov commented on #79
Just a thought, in the web ui project, you can take the angular code out and leave the controller.
On Mar 5, 2020, 07:48 -0500, fawadtayyab123 <notifications@github.com>, wrote:

[2020-03-05 16:19] fawadtayyab123 commented on #79
@yehudamakarov  I'd tried that but application stopped working.

[2020-03-05 18:31] yehudamakarov commented on #79
Can you please elaborate? We’re there errors? We’re you able to reach the swagger index?
On Mar 5, 2020, 11:19 -0500, fawadtayyab123 <notifications@github.com>, wrote:

[2020-03-05 21:38] GFoley83 commented on #79
Given you've already got an Angular project, I'd suggest you copy the auth services, guards etc. from the `ClientApp` in this solution, into your own. Or copy the logic from your app, into the `ClientApp`.

The logic is already there, it's up to you to figure out how to wire it up.

These kind of issues are software design problems and not issues or bugs specifically related to this project; which

[2020-03-05 21:39] GFoley83 commented on #74
See my answer in https://github.com/jasontaylordev/CleanArchitecture/issues/79#issuecomment-595460333

[2020-03-06 07:33] fawadtayyab123 commented on #79
Okay Thanks

[2020-03-06 07:33] #79 closed

[2020-03-07 20:08] grikard opened #80 "Publish to Azure App Service Does Not Work - npm run build -- --prod" exited with code 1"
**Describe the bug**
The clean architecture template works just fin in Visual Studio 2019. The WebUI will render successfully, as a template and customizations.

However, every attempt to publish to Azure App services fail. Is there a deployment guide and any reference materials.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Visual Studio 2019 Publish'
2. Click on 'Select or create

[2020-03-08 19:58] grikard commented on #80
Multiple attempts.

1. Install new Clean Architecture pull.
2. Execute WebUI Build and it renders without errors on PC. ASPNetCore.SPA 3.1.0 (have not upgraded in this project to 3.1.2)

After verification application runs on PC.
3. Execute Publish.
4. Create new Azure publish profile with new app services, app plan

Failed to deploy successfully

HTTP Error 500.30 - ANCM In-Process Start Failure

[2020-03-08 20:50] xzxzxc opened #81 "Wrong class name in file CreateTodoListCommandValidatorTests.cs"
File with name CreateTodoListCommandValidatorTests.cs contains class named `UpdateTodoListCommandValidatorTests`.

**Expected**
Class and file names have the same value.

[2020-03-13 16:00] litan1106 commented on #24
I ran into the same issue.

[2020-03-13 20:37] grikard commented on #80
Interesting - has anyone published Clean Architecture to production at all? I would have thought many folks would have been all over this post. I am working with Microsoft Azure team. Will publish what I find. I suggest Readme include production deployment instructions.

[2020-03-13 23:27] manishrawat4u commented on #78
Even if you look at the template, the idea is to use one application db context instead of multiple repos... with this it’s easy to read manipulate the data as per the need and at the same time following single responsibility principle.

[2020-03-14 12:34] swilkodev commented on #80
I ended up running into the same HTTP error 500.30.

To resolve the issue, I first added the setting ASPNETCORE_DETAILEDERRORS = 1 to the web app then refreshed and got the full stack trace of the error. The issue I had was to do with a missing signing certificate used by Identity Server.

This article https://stackoverflow.com/questions/57012001/invalidoperationexception-key-type-not-specified-mi

[2020-03-14 15:07] manishrawat4u commented on #67
And where should we place the services ( recurrence business logic)

[2020-03-14 22:52] GFoley83 commented on #67
"Services" can exist in all the layers. Though for Application and Infrastructure, the interfaces belong in the Application layer for both, by design.

Business logic belongs in the Domain layer
e.g `OrderProcessor`, `AddBankAccount`, `UpdateFlightPlan`. The Domain layer is where you model how the different entities that make up your Domain interact with each other.

https://lostechies.com/jimmybo

[2020-03-14 23:20] hypervtechnics opened #85 "Consider adding a unit test for checking the model state of ef core"
**Is your feature request related to a problem? Please describe.**
Sometimes developers forget to scaffold a migration.

**Describe the solution you'd like**
Include this unit test by default: https://stackoverflow.com/a/60686198/

[2020-03-15 22:22] DaniaalNadir opened #87 "How should i use ApplicationUser in the Domain?"
I have an Entity in the Domain Layer which needs the ApplicationUser in it. I could just put `public string UserId {get; set;}` but it doesn't seem right. How should i do this. The problem is that it prevents me from doing a `.Include(x => x.User)` on the entity which would be useful.

[2020-03-15 23:34] GFoley83 commented on #87
This question has been asked and answered many times. See below:

https://github.com/jasontaylordev/CleanArchitecture/issues/58#issuecomment-584055887
https://github.com/jasontaylordev/CleanArchitecture/issues/71
https://github.com/jasontaylordev/CleanArchitecture/issues/30

[2020-03-16 09:30] DaniaalNadir commented on #87
@GFoley83  Yeah i saw as soon as i posted the question. I tried to delete the issue but couldn't. Sorry about that and thanks for the links.

[2020-03-16 11:09] MCCshreyas commented on #78
But if I have a logic that modifies the multiple records in multiple tables based on some logic which depends upon input data, then I think the handler method get so fat which I want to avoid, so that's why I was asking is there any place where I can include complex logic without getting handler fat.

[2020-03-16 18:22] manishrawat4u commented on #7
Did you guys able to figure out the way? I am on the same boat too

[2020-03-16 18:41] GFoley83 commented on #78
As I said above, all complex business logic goes in the Domain layer, not the Application layer.

https://github.com/jasontaylordev/CleanArchitecture/issues/67#issuecomment-599144705

Saving and retrieving multiple things to the database is not complex business logic.

https://lostechies.com/jimmybogard/2008/08/21/services-in-domain-driven-design/

In any case, this is a standard software design p

[2020-03-16 20:32] jonathandotchin commented on #3
I agree with the previous comments. They are, in essence, just terms and there are many valid ones as shown above. Personally, since we are using the Request/Response pattern, I would call them *Request for the input and *Response for the output.

[2020-03-16 22:35] GFoley83 commented on #7
All mapping should be taking place in the Application layer, in both directions. Your request command/query should contain enough information to be able to map from a DTO to a Domain entity and vice versa, with the configuration taking place inside the DTO by having it inherit from
`IMapFrom<SomeDomainEntity>`.

E.g.
https://github.com/jasontaylordev/CleanArchitecture/blob/master/src/Application/T

[2020-03-16 23:11] litan1106 opened #88 "Add TestStartup for integration test"
**Is your feature request related to a problem? Please describe.**
Test Service Providers in the Infrastructure/DependencyInjection

**Describe the solution you'd like**
Add TestStartup for integration test
Remove Test Service Providers from the Infrastructure/DependencyInjection for tests

[2020-03-16 23:34] GFoley83 commented on #3
DDD has no correlation to the Application layer. It doesn't even know it exists.

VM vs DTO is an Application layer concern only. It doesn't matter which type you choose, it just depends on your use case. This solution comes with examples for both.

[2020-03-17 08:36] GFoley83 commented on #87
Just close off the issue when you can @DaniaalNadir. Cheers.

[2020-03-17 08:43] #87 closed

[2020-03-18 01:19] jonathandotchin commented on #3
Actually, DDD do have a notion of Application Layer. Taken from Evans' Domain Driven Design book

But it is true that the domain layer should have no notion of the application layer since the dependency flow inward.

To be fair, DTO is, in essence, an umbrella term that defines an object made to transport data in between process/layer.

[2020-03-18 15:42] litan1106 opened #89 "Update latest NSwag to support NSwagExe_Core31"
NSwag.AspNetCore 13.1.6->13.2.5
NSwag.MSBuild 13.1.6->13.2.5

[2020-03-19 01:42] manishrawat4u commented on #78
I have another question related to validation. Say if I have a Query where I need to apply validation  which are dependent upon database calls or some other network operation. What place should I place that? In query/command validator class or directly in the query/command handler?

e.g. in this project to restrict user from accessing other users todo items/list. If a user is trying to access a re

[2020-03-19 08:40] GFoley83 commented on #78
Validation and authorisation are two different things and should be kept separate.

Given what you're asking has nothing to do with this project, If you'd like to post a question on StackOverflow, I'd be happy to answer there.

[2020-03-21 22:48] manishrawat4u commented on #78
I asked it in SOF https://stackoverflow.com/questions/60794058/at-what-layer-should-we-validate-user-resource-permission?noredirect=1#comment107560182_60794058

[2020-03-23 10:57] #51 closed

[2020-03-23 10:58] #32 closed

[2020-03-23 10:58] #13 closed

[2020-03-23 11:00] #35 closed

[2020-03-23 12:58] #89 closed

[2020-03-23 13:01] jasontaylordev commented on #72
The solution has now been updated to Angular 9.

[2020-03-23 13:01] #72 closed

[2020-03-23 13:06] jasontaylordev commented on #77
Hi @iammukeshm. This is part of the template is based on the ASP.NET Core Angular SPA template. Here are some resources that you might find helpful:

1. [Use the Angular project template with ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/client-side/spa/angular?view=aspnetcore-3.1&tabs=visual-studio)
2. [Authentication and authorization for SPAs](https://docs.microsoft.com/en-us/aspne

[2020-03-23 13:06] #77 closed

[2020-03-23 13:08] #68 closed

[2020-03-23 13:09] #69 closed

[2020-03-23 13:10] #63 closed

[2020-03-23 13:10] #60 closed

[2020-03-23 13:11] #59 closed

[2020-03-23 13:11] jasontaylordev commented on #61
Thanks for the update, closing as no further action required.

[2020-03-23 13:11] #61 closed

[2020-03-23 13:12] #45 closed

[2020-03-23 13:12] #44 closed

[2020-03-23 13:14] #42 closed

[2020-03-23 13:15] #22 closed

[2020-03-23 13:16] #81 closed

[2020-03-23 13:16] jasontaylordev commented on #15
This has been resolved. Thanks.

[2020-03-23 13:16] #15 closed

[2020-03-23 13:19] chelabitarik opened #90 "Separate Angular client project"
Hi everyone,
I came a cross this amazing template so thank you guys for the awesome work . I just wanna make a simple request if thats possible ... Please separate the Angular client from the .net core server.
Thank you so much

[2020-03-23 13:20] jasontaylordev commented on #4
Hi @Pyrobolser - sorry for the late reply - I have trouble keeping up.

I am sure you've figured it out by now but for others - customising the model is straight-forward; check this resource - https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-3.1#customize-the-model.

Adding external identity providers should be straight-forward too - htt

[2020-03-23 13:20] #4 closed

[2020-03-23 13:28] jasontaylordev commented on #80
Thanks all for your work describing the issue, I'll write some documentation for others.
@AdamStephensen - this will be useful for your efforts.

[2020-03-23 17:24] litan1106 opened #91 "Update CsvHelper to 13.0.0"
Update CsvHelper to 13.0.0 [Change Log](https://joshclose.github.io/CsvHelper/change-log/)

[2020-03-23 21:24] grikard commented on #80
It turns out IdentityServer is not supported by Microsoft. So including it in the Clean Architecture template makes no sense. Adding certificate key signing details in code is also NOT A BEST PRACTICE and MUST be avoided since it would not pass security design reviews. My apologies I did not catch this earlier. The Microsoft Azure Team caught it.

I was really excited about adopting the Clean Arch

[2020-03-24 00:01] jasontaylordev commented on #80
This project 100% follows the guidance produced by Microsoft within the document [Authentication and authorization for SPAs](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.1). The Web UI project incorporates ASP.NET Core Identity for authenticating and storing users combined with IdentityServer for implementing Open ID Connect.

Th

[2020-03-24 01:41] grikard commented on #80
I do love Clean Architecture and its principles and all the great work you have done to surface this as a foundation for application design.  When the Azure Support team told me they do not support IdentityServer it caught me by surprise. I started to wonder if there were other parts of the template not supported. Based on your notes, there is more to the story. It will take me some time to invest

[2020-03-24 05:17] jasontaylordev commented on #80
Just a heads up that Angular 9 is already in place, did that yesterday.

[2020-03-24 05:35] MCCshreyas commented on #78
@jasontaylordev Can you please clarify more on my issue!? Thanks!

[2020-03-24 06:30] jasontaylordev commented on #64
Thanks for reporting this issue. I've dropped readme from the template. It's excluded when the package is built.

[2020-03-24 06:30] #64 closed

[2020-03-24 08:58] jasontaylordev commented on #91
Looks like 15.0.2 is the latest, should I just upgrade to that?

[2020-03-24 10:52] #91 closed

[2020-03-24 11:15] jasontaylordev commented on #2
Apologies for the delay, I am trying to catch-up and stay on top of these issues so I can focus on adding new features! 😀

The reference from Presentation to Infrastructure exists only for the purposes of dependency injection. Therefore, Infrastructure should only be referenced within Startup (WebUI). If it appears anywhere else, we know this is a problem (managed using pull requests).

In additio

[2020-03-24 11:26] jasontaylordev commented on #3
Sorry for the delayed response, I am trying hard to catch-up.

It is somewhat of a convention that I am following. Queries return a single VM composed of DTOs. I want the VM to be associated with a single view. VMs should not be shared across views. DTOs could potentially be shared but I would try to minimise sharing where possible. This is because I want to avoid creating conditional logic for se

[2020-03-24 14:07] litan1106 commented on #91
Thanks.

[2020-03-25 05:15] achmstein commented on #23
What about using gRPC as the API for the Blazor client?

[2020-03-25 10:57] jasontaylordev commented on #5
Hi @Pyrobolser. Sorry for taking so long to respond. The `AdAccount` was added as an example of a value object, but as you have stated, it wasn't used in any feature. I'm planning to add a new value object, such as `Colour` for `TodoList`, to provide an example that is actually used.

[2020-03-25 11:09] jasontaylordev commented on #7
Hi All. Sorry for taking so long to respond, I am working on getting caught up now.

I discourage auto-mapping from DTO to Domain entity. It is better to do this by hand. This way you have complete control in regard to exactly what is changing within the domain. This is even more important when following a DDD approach that controls access to properties.

Happy Coding! 😀

[2020-03-25 11:09] #7 closed

[2020-03-25 12:30] JudeVajira commented on #7
Oh ok. Thanks for your input! Thought having something like
MapTo<DomainEntity> would be ok. But I understand your point and it does
make sense.

On Wed, 25 Mar 2020, 4:39 pm Jason Taylor, <notifications@github.com> wrote:

[2020-03-25 15:47] walter-la opened #92 "Repeatedly validated twice in AbstractValidator class"
**Describe the bug**
A class that inherit AbstractValidator class will execute twice when a class that implement IRequest interface put parameters of method of controller class.

The reason is first time it happens in FluentValidationModelValidatorProvider class and second time happens in RequestValidationBehavior class.

If my AbstractValidator class has things of long time checking(ex: access Da

[2020-03-25 19:36] psztypa opened #93 "[Azure] invalid_token - issuer is invalid"
Application works perfectly using localhost.

**After deploying to Azure when trying to get ToDo list I get 401 Bearer error="invalid_token", error_description="The issuer 'https://....azurewebsites.net' is invalid"**

I can register and sign-in users. Fetching data from WeatherForecast controller works just fine. So I think that app service and db are configured correctly.

Steps to reproduce the

[2020-03-26 09:28] howardgod opened #94 "Where to put the types involved external resource, git/web/file"
My scenario comes like this, I want to get the user data from JIRA server(external web resource) and then compare to my user entity data and then create a viewModel back to Presentation layer(client).

Application\Common\Interfaces
[code]
Application\User\GetUserJira\
[code]

I wonder where should "JiraUserObject" type to put into?
1. Create a folder named "ExternalTypes" in Domain, because it's j

[2020-03-26 10:50] #92 closed

[2020-03-26 10:50] jasontaylordev commented on #92
Thanks for reporting this issue. I've resolved by removing FluentValidation from Web UI and wiring up the validators in Application.

[2020-03-26 10:52] jasontaylordev commented on #9
Sorry for the delay on this issue. It has been resolved now.

[2020-03-26 10:52] #9 closed

[2020-03-26 10:53] #37 closed

[2020-03-26 11:00] jasontaylordev commented on #29
Again, sorry for the delay. I am sure you have figured out a solution by now. I am assuming that your scheduling services are running as a console app, a windows service, or something similar. When you wire-up dependency injection for the program, you would need to specify an implementation for ICurrentUserService, since you won't be using the WebUI implementation. You will need to create your own

[2020-03-26 11:02] jasontaylordev commented on #30
Thanks for your help @GFoley83! 😀

[2020-03-26 11:02] #30 closed

[2020-03-26 11:08] jasontaylordev commented on #34
Hi again @Pyrobolser. You could move the queries inside the model and maybe reduce duplication of code between the two requests. However, in doing so you would also introduce the potential for breaking changes - in that changing the query to suit **GetThisForTheCurrentUser** could break **GetThisByPrimarykey**. So when the shared query is changed extra care must be taken.

Alternatively, you could

[2020-03-26 11:08] #34 closed

[2020-03-26 11:09] jasontaylordev commented on #38
Thanks all for the discussion and feedback.

[2020-03-26 11:09] #38 closed

[2020-03-26 11:25] jasontaylordev commented on #52
Thanks for raising this issue, I'll migrate the solution to Sqlite. Happy Coding! 😀

[2020-03-26 11:25] #52 closed

[2020-03-26 11:26] jasontaylordev commented on #67
Thanks @GFoley83! 😀

[2020-03-26 11:26] #67 closed

[2020-03-26 12:03] jasontaylordev commented on #94
Hi Howard. Implement as follows:

1. Add the `IJiraUserService` interface within Application layer as suggested above
2. Add the types associated with the service to the Application layer also, e.g. `JiraUserObject`
3. Create the implementation within Infrastructure, mapping from Jira types to Application types, e.g. `JiraUserObject`.
4. Inject `IJiraUserService` into commands / queries that requi

[2020-03-26 14:38] howardgod commented on #94
Hi Jason,

Thank you very much for the comment.

Just to extend a bit for the question. What if I had a service which actually is a business use case, e.g. every time we create a new data, we not only store to DB but Git as well. In this case, which approach would be better practice(btw, I not quite sure if it fits business use case)?

1. Implement GitService as queries / commands, and in the cont

[2020-03-26 14:44] dirocchini commented on #94
Hi Jason!
In my point of view you should make things cleaner and specific. I think you should create, in your controller, both a GitServiceCommand and DbCommand (for eg) and make both calls to specific commands.

[2020-03-26 15:17] litan1106 opened #95 "Add Worker Service project for cronjobs and background queue jobs"
[Hosted Serviced](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-3.1&tabs=visual-studio)

[2020-03-26 20:44] jasontaylordev commented on #94
I don't think of business use cases in terms of database and other infrastructure or persistence mechanisms. They are defined in business terms and are usually something like CreateCustomer or CreateOrder, ShipOrder, or UpdateOrder. I'd normal define them using this approach; https://en.wikipedia.org/wiki/Use_case#Fowler_style.

It sounds to me that you have a non-functional requirement - "Every t

[2020-03-27 16:10] litan1106 opened #96 "Update MediatR.Extensions.Microsoft.DependencyInjection to 8.0.0"
Update MediatR.Extensions.Microsoft.DependencyInjection to 8.0.0

[2020-03-28 02:33] iang0ld commented on #56
In my opinion, the key issue that prevents this project from being the best Base EF Core Starter Template is Authentication and Authorisation. This would require

1. Completion of the work done by  @GFoley83, and
2. The Addition of a complete Account Views with Forgotten Password (see Nucleus.Web.Vue/Src/Accounts/View in https://github.com/alirizaadiyahsi/Nucleus)

Are there any plans for these, i

[2020-03-29 00:20] hypervtechnics commented on #29
I did figure out a rather good solution. I just removed all of the pipeline behaviors. The scheduler (Quartz) is running in the same process and the scheduler service (e.g. to dynamically add job) is injected into the DI container within the Infrastructure. Doing the approach you mentioned is a good approach. But not doable when used in the same DI container as it would require different implement

[2020-03-30 10:26] #96 closed

[2020-03-30 11:21] jasontaylordev commented on #80
You can in fact deploy "as-is" - there are of course many approaches, here is one:

1. **Create a new CI pipeline.** This is for an ASP.NET Core application targeting .NET Core so pick a suitable template to restore, build,  test, and publish the solution. You can simplify to test and publish if you prefer. Configure as normal. no additional tasks required.

2. **Create a new Azure App Service and

[2020-03-30 11:43] #2 closed

[2020-03-30 11:43] #3 closed

[2020-03-30 11:43] #5 closed

[2020-03-30 11:50] jasontaylordev commented on #23
@jernejk  and I did some work on this - https://github.com/jasontaylordev/CleanArchitecture/tree/blazor. It is a work in progress but the basics are in place. Including API client generation with NSwag and MSBuild!

Closing as I am not planning to progress further at this stage. If I build new clients it will most likely be React and/or Vue.

[2020-03-30 11:50] #23 closed

[2020-03-30 11:51] #29 closed

[2020-03-30 14:03] jasontaylordev commented on #8
I've implemented [validation problem details](https://docs.microsoft.com/en-us/aspnet/core/web-api/handle-errors?view=aspnetcore-3.1#validation-failure-error-response) / problem details as it is more consistent with the default ASP.NET Core experience. This supports content negotiation and custom handlers for known exception types.

I should probably add a default problem details handler for all o

[2020-03-31 10:11] jasontaylordev commented on #95
This is a good idea. Thanks. I've added an item to the roadmap - https://github.com/jasontaylordev/CleanArchitecture/projects/1#card-35468080.

I'm not sure when I will get it done.

[2020-03-31 10:11] #95 closed

[2020-03-31 10:13] jasontaylordev commented on #71
Thanks for your help @GFoley83. 😀

[2020-03-31 10:13] #71 closed

[2020-03-31 10:46] jasontaylordev commented on #78
Thanks, @GFoley83 & @manishrawat4u. You've covered it well so I'll close this issue.

[2020-03-31 10:46] #78 closed

[2020-03-31 11:12] jasontaylordev commented on #85
Thanks, @hypervtechnics, a great suggestion. I've added this to the product roadmap; https://github.com/jasontaylordev/CleanArchitecture/projects/1#card-35471088.

I'm not sure when I will get to it, but I will let you know when it is done. Happy Coding! 😀

[2020-03-31 11:12] #85 closed

[2020-03-31 11:15] jasontaylordev commented on #90
Thanks @chelabitarik, appreciate your kind words. Separating Angular / .NET Core is not something I am looking to support/demonstrate in this solution. However, you might like to review the suggestions within #79.

Happy Coding! 😀

[2020-03-31 11:15] #90 closed

[2020-03-31 11:16] jasontaylordev commented on #94
Thanks for your question, happy coding! 😀

[2020-03-31 11:16] #94 closed

[2020-03-31 11:18] jasontaylordev commented on #93
Hi @psztypa - check out my guide here - https://github.com/jasontaylordev/CleanArchitecture/issues/80#issuecomment-605941356.

Does this help? Did you figure this issue out?

[2020-03-31 11:21] jasontaylordev commented on #88
This is a great suggestion. I am looking to rewrite the tests shortly using a different approach. I'll be removing conditional test logic within Infrastructure/DependencyInjection and also adding subcutaneous tests targeting the Application layer.

As this will be covered in that work, I am closing this issue. Happy Coding! 😀

[2020-03-31 11:21] #88 closed

[2020-03-31 11:46] jasontaylordev commented on #66
Hi all. Not specific to IIS but I've added some deployment information here; https://github.com/jasontaylordev/CleanArchitecture/issues/80#issuecomment-605941356.

Hope this helps.

[2020-03-31 11:46] jasontaylordev commented on #65
The solution is using the SPA with Angular and .NET Core project template. It was created using `dotnet new angular --auth Individual`. This approach scaffolds an application that utilises ASP.NET Core Identity and IdentityServer. You can learn more about this approach here; https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.1.

[2020-04-01 10:03] jasontaylordev commented on #56
Hi @iang0ld - they would great improvements. I'd like to focus on the testing first, but I might move onto those two next.

@GFoley83 I thought about implementing this too. I was considering creating a RequestAuthorizeAttribute to have a similar shape and structure to that of Authorize. Initial support would just be authenticated users. Then one or more roles. And whatever else proves useful, e.g.

[2020-04-03 15:45] 3kwartappel opened #98 "Fetching Entity Data with User details in application layer"
**The Problem**
Another question regarding the ApplicationUser.. it would be great to have an example of this in the project. As discussed in other threads its not recommended to move the ApplicationUser to the Domain layer.

In our Application Layer, we are trying to fetch all ToDoItems in the database, including the Email Address (and other user details) of the user that created the TodoItem. Ho

[2020-04-04 06:45] iang0ld commented on #56
@GFoley83 FYI I will soon have extended Identity workflow adding to the project including Registration with email confirmation and forgotten email.

[2020-04-04 09:50] SuliemanMansouri opened #99 "[Support/Guidance] Update old solution to use new template"
Hi,
How do I update an old solution that is using version 1.0.2 to the latest version 1.0.10.
Reinstalling the template with --force option will replaced old files with new ones. This will result in loss of old code.

If this feature is not included in dotnet command line tools, how can I update my project to use the latest fixes in the template?

Thanks

[2020-04-06 12:04] jasontaylordev commented on #8
Closing, but feel free to provide feedback at any point.

[2020-04-06 12:04] #8 closed

[2020-04-06 12:05] jasontaylordev commented on #65
Closing, but feel free to provide feedback at any point.

[2020-04-06 12:05] #65 closed

[2020-04-06 12:05] jasontaylordev commented on #80
Closing, but feel free to provide feedback at any point.

[2020-04-06 12:05] #80 closed

[2020-04-06 12:05] jasontaylordev commented on #93
Closing, but feel free to provide feedback at any point.

[2020-04-06 12:05] #93 closed

[2020-04-06 12:10] jasontaylordev commented on #98
With the current design, it will be necessary to do in two queries. Alternatively, you could make a User that is part of the Domain model. The user might start out something like this:

public class User
{
    public int Id { get; set; }
    public string ApplicationUserId { get; set; } // From Identity
    public string Name { get; set; } // User display name
    public string Email { get; set; }

[2020-04-06 12:24] jasontaylordev commented on #99
Hi @SuliemanMansouri,

There is no supported upgrade process. I'd suggest the following approach:

1. Uninstall the current version of the template:
   `dotnet new --uninstall Clean.Architecture.Solution.Template`
2. Install the old version of the template:
    `dotnet new --install Clean.Architecture.Solution.Template::1.0.2`
3. Create a new project based on the old template:
   `dotnet new ca-sl

[2020-04-06 15:05] litan1106 opened #100 "Change the IntegrationTests client grant type to ClientCredentials"
Use the clientid/secret for authentication instead of password for non-interactive usage.
Change the [IntegrationTests ](https://github.com/jasontaylordev/CleanArchitecture/blob/bd88f17c6d3a5974f755888973dccdffc2118acc/src/Infrastructure/DependencyInjection.cs#L47)client grant type to ClientCredentials

Also remove the unnecessary [test user ](https://github.com/jasontaylordev/CleanArchitecture/bl

[2020-04-06 17:46] kardelsharpeye opened #101 "[question] What does sut mean in tests?"

[2020-04-06 22:09] jasontaylordev commented on #101
SUT is an acronym for System Under Test. This practice makes it easier to identify the thing being tested for correct behaviour.

[2020-04-06 22:09] #101 closed

[2020-04-07 05:45] kardelsharpeye commented on #101
Thank you!

[2020-04-07 13:27] hypervtechnics commented on #8
Very busy atm. Will look into it during the next weeks :) Nevertheless: Thank you for looking at the issues and improving things ^^

[2020-04-07 15:39] SuliemanMansouri commented on #99
Hi @jasontaylordev
Thanks for the reply. I was hoping that dotnet has a merge feature that I didn't know about.
Cheers

[2020-04-07 15:39] #99 closed

[2020-04-08 14:48] litan1106 opened #102 "serilog logging integration"
the .net core default logging is too dry.
[serilog logging integration](https://serilog.net/)

[2020-04-09 11:04] GFoley83 commented on #56
Having been using the Auth pipeline behavior for a while now, I'm happy with the approach and feel it offers a lot more than using attributes for a few reasons:
- Attributes are harder to test. I don't normally just on this bandwagon but they are a bit of a pain. By using a pipeline for auth, adding tests is pretty straightforward.
- Attributes don't support dependency injection (or shouldn't be u

[2020-04-09 16:31] #66 closed

[2020-04-10 06:09] iang0ld commented on #56
I agree that your method is more flexible that attributes.  However, I prefer permission based authorization rather that role based.  That way roles are simply used to manage the permissions and nothing else and the rest of the code doesn't care who you are.

[2020-04-10 08:02] GFoley83 commented on #56
If by permissions you mean claims, then the approach above supports that too. Just add a claim check method to the `identityService`:

[code]
and then this:
[code]
becomes this:
[code]
The point of the approach above is that the permission checking is up to you. I could be calling AAD graph API for one command and checking local permissions for another. Just inject whatever your permission check s

[2020-04-10 17:48] fmendez89 opened #104 "[Feature request] Use fluent validation rules to define swagger schema"
It is not a problem, but using the fluent validation rules, the swagger schema definition would be much more detailed. Also the generated clients definitions could benefit from this.

It would be great if the solution could use the fluent validation rules to define the swagger schema using the [nswag fluent validation extension](https://github.com/zymlabs/nswag-fluentvalidation)

Another solution

[2020-04-11 05:59] jasontaylordev commented on #100
Thanks for the suggestion, I've since decommissioned the old-style integration tests. So this no longer applies. See Application.IntegrationTests for the new approach.

[2020-04-11 05:59] #100 closed

[2020-04-11 06:00] #98 closed

[2020-04-12 19:56] achmstein opened #105 "Cannot add new migration"
I'm getting this error while trying to add new migration

`Unable to resolve service for type 'Microsoft.EntityFrameworkCore.Migrations.IMigrator'. This is often because no database provider has been configured for this DbContext. A provider can be configured by overriding the DbContext.OnConfiguring method or by using AddDbContext on the application service provider. If AddDbContext is used, then

[2020-04-12 20:23] achmstein commented on #105
Solved. It need to set InMemoryDatabse value in appsettings.json to false to add migration.

[2020-04-12 20:23] #105 closed

[2020-04-21 12:10] jasontaylordev commented on #102
Great suggestion, Serilog is awesome and I use it with most real-world applications. However, this template is focused on the simplest approach, and for that Logging in .NET Core is great.

For those interested in learning more:

- [Logging in .NET Core and ASP.NET Core
](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1)
- [Setting up Serilog in ASP.NET Core 3

[2020-04-21 12:10] #102 closed

[2020-04-21 13:18] jasontaylordev commented on #56
I've created an example of how an attribute-based approach might work - https://github.com/jasontaylordev/CleanArchitecture/commit/f97485b4e6a0dae35327e62606e07f611bd95d56. It includes tests. What do you think?

@GFoley83 some thoughts on the points you mentioned.

What do you think of my tests? I think I have made it easy to test.

I don't think this is going to be a blocker. The attributes will

[2020-04-21 14:50] giovanellij opened #106 "[Feature request] Angular interceptor"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex.

I'm always frustrated when I have to handle each error in the angular application.

**Describe the solution you'd like**
I would like to have an interceptor to handle all the errors and only worry about the ok response.

**Additional context**
I have tried to make this wo

[2020-04-22 02:12] jasontaylordev commented on #106
This is a good idea. Take a look at this resource:

- [Expecting the Unexpected — Best practices for Error handling in Angular](https://medium.com/angular-in-depth/expecting-the-unexpected-best-practices-for-error-handling-in-angular-21c3662ef9e4)

It outlines a comprehensive approach. What do you think?

[2020-04-22 11:51] ramax495 opened #107 "[question] Authorization without OIDC"
If my app consists only of client(SPA) and server side and it don't need using OAUTH at all, just simple token authentication. What is the best way to implement it ?
Remove Identity Server and use ASP.NET Identity ?
Or there is any configuration of Identity Server that allows to simplify the auth process ?
First of all, I want to remove unnecessary redirects.

[2020-04-22 14:10] jasontaylordev commented on #56
I've extended the sample by adding support for role-based authorization -  https://github.com/jasontaylordev/CleanArchitecture/commit/573f3061e2b3b50ef5e2515b03e1a118602a1630.

Simple authorization is supported by applying the `[Authorize]` attribute to a command or query. For example:

[code]

The above query is accessible to any authenticated user.

Role-based authorization is supported by speci

[2020-04-22 16:45] DishanH opened #108 "Folder for Extension methods"
**Is your feature request related to a problem? Please describe.**
I couldn't find a proper place to put extension methods that are shared among different features. We do have a lot of extension methods like IEnumerableExtension, IQueryableExtension, DateTimeOffSetExtension, etc.

**Describe the solution you'd like**
Can we have a separate folder inside Application > Common > **Extensions or Helpe

[2020-04-23 10:41] danielmackay opened #109 "Spa Service Failure when running"
**Describe the bug**
when using 'dotnet run'  I get many errors in the output.  I can browse the website, but the 'todo' page does not work

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new solution via the template
2. navigate to src\webui
3. run 'dotnet build'
4. run 'dotnet run'

**Expected behavior**
running the site should not produce errors, and I should be able to navigate

[2020-04-23 10:43] jasontaylordev commented on #109
Thanks for reporting this issue. One question, when you browse the website - what URL are you using?

[2020-04-23 10:47] danielmackay commented on #109
Thanks for the prompt response!

URL I am hitting is: http://localhost:6090/

Also, I have noticed the readme.md and LICENCE are included in the solution, but don't exist on disk

![image](https://user-images.githubusercontent.com/2636640/80090930-a43f5980-85a3-11ea-8370-15268117183f.png)

[2020-04-23 10:48] jasontaylordev commented on #109
Try https://localhost:5001

[2020-04-23 10:48] jasontaylordev commented on #109
Thanks, I'll try to fix that.

[2020-04-23 10:54] danielmackay commented on #109
Success!  Thanks Jason.

Any idea about those Spa services errors?

Watched your goto presso in Copenhagen recently, and am really psyched to get a good understanding of the entire architecture.  Once that's done, I'd like to try switching the FE to React.

Thanks for putting this together mate, it's excellent work.

[2020-04-23 11:03] jasontaylordev commented on #109
That's great! Thanks for the feedback. You might like to check out the new Clean Testing video too - https://www.youtube.com/watch?v=2UJ7mAtFuio. I really love this testing approach.

I think what you are seeing is that ASP.NET Core SPA Services is constantly monitoring Angular CLI to see if the front end has been built and is being served. The Angular build process takes quite a lot of time so yo

[2020-04-23 11:03] #109 closed

[2020-04-23 11:29] GFoley83 commented on #56
Hi Jason. This looks awesome.
I think using attributes on commands and queries makes a lot of sense when you're requirements around auth are of light to medium complexity, as it's very light weight and quick to implement. Whereas my approach above is a bit more code-heavy and involved and would be better suited to more complicated auth scenarios e.g checking for specific `claims` or validating aga

[2020-04-23 16:41] MCCshreyas commented on #108
Extensions methods should be in Application layer and not should be the part of Domain layer.
Because extension methods you are going to use in your commands and queries to format the result.
The best place to go extension methods is Application - > Common - > ExtensionMethods.

Why common folder? Because the things are in common are the things that are shared across the application layer. Just li

[2020-04-23 18:11] DishanH commented on #108
@MCCshreyas Thanks for the information.
IEnumarableExtenctions for data shaping with ExpandoObject
`public static IEnumerable<ExpandoObject> ShapeData<TSource>(this IEnumerable<TSource> source, string fields)`

[2020-04-23 21:46] NickFranceschina opened #111 "newly created solution is missing "Solution Items" LICENSE and README.md"
**Describe the bug**
A clear and concise description of what the bug is.

I just created a new solution from the template and inside the `Solution Items` folder there are two files pointing to `LICENCE` and `README.md` but they are not on the drive.

**To Reproduce**
Steps to reproduce the behavior:
`dotnet new ca-sln`

**Screenshots**
If applicable, add screenshots to help explain your problem.
!

[2020-04-23 21:50] jasontaylordev commented on #111
Hi @NickFranceschina. Thanks for raising, I'll try to get this fixed tonight.

[2020-04-23 21:51] jasontaylordev commented on #111
Adding @danielmackay, so you'll know when it's resolved.

[2020-04-23 23:42] iang0ld commented on #56
Hi Guys,

I prefer the method of authorizing on permissions rather than roles as this gives focus to the feature and negates the need to check multiple roles.  For added complexity I do that in the controller where it is easier to find and it it together with any settings related choices.

Jason is that something you would like to look seeing as you have just completed it for Roles?  If not I can

[2020-04-24 05:37] MCCshreyas commented on #108
First a fall, I didn't get why to used ExpandoObject if you know the exact type as you are implementing Queries and Commands for the same.
But still, if you would like to, rather than having extension methods for mapping, you can use AutoMapper itself to map from `yourType` to `ExpandoObject`.
You just need to create the mapping for the same.
You can refer following link on how to do it.

Automapp

[2020-04-24 06:10] MCCshreyas commented on #56
@jasontaylordev great work Jason as always.

But I didn't get the point why would we have authorization attribute and corresponding behavior on Queries and commands if we are restricting at the controller level itself.

Having the `[Authorize]` attribute in the Application layer will create a strong dependency of ASP.NET core identity in the application layer?
And also another question, If the use

[2020-04-24 16:32] DishanH commented on #108
@MCCshreyas Thanks. I didn't know AutoMapper supports dynamic dictionary mapping.i'll try that.
by the way, I'm thinking of passing todo item collection to todo list create action. To create todo items in one goal. how can I achieve this kind of thing without duplicating validations?

[2020-04-25 02:10] dobla-jgauthier opened #112 "Invalid Operation Exception on dotnet run when following initial get started"
**Describe the bug**
Following the README to get the code up and running. When I perform dotnet run in the WebUI folder I am receiving an error about an invalid certificate with IdentityServer

**To Reproduce**
Steps to reproduce the behavior:
(Follow steps listed in ReadMe)
1. Download lastest .NET Core SDK
2. Download Latest NodeJS LTS
3. Install Clean Architecture Template
4. Create a new proje

[2020-04-25 05:07] MCCshreyas commented on #108
The template shows off simple scenario, but you can extend as much as per the need and requirement,

[2020-04-25 05:24] #108 closed

[2020-04-25 16:03] sturlath opened #113 "Question: This template vs Ardalis one"
Ok this might be totally unfair question to ask but I'm just starting out using this kind of architecture in practice (have been reading about them for years) so I´m trying to pick the right starting point.

I have watched few of @jasontaylordev presentations on Northwind and few of Ardalis videos also and  I'm wondering about the difference between this one and [Steves](https://github.com/dotnet-

[2020-04-25 16:52] MCCshreyas commented on #113
See choosing architecture style is solely depend upon the problem statement. However following  an architecture style, will ensures that one following best practices while developing.

I will suggest you to build something small with both of the architecture, then you will learn more about both of them, and will be able to choose your favorite one in which you enjoyed yourself developing.

[2020-04-25 18:27] KuraiAndras opened #114 "[Feature Request] .Net client"
Where would a .net based client(Blazor/WPF/Xamarin/Avalonia/etc..) be placed in this?
How much logic should be shared? (Validation? HttpClient?)
Would it be possible for the application layer be re used by the client also? (Think downloading a part of the database, and then store it for offline use with SQLite/EfInMemory)

[2020-04-25 22:27] charleshaye commented on #114
send me this stuff that your having promplams with

[2020-04-26 05:56] MCCshreyas commented on #114
The presentation layer it the place where you can put anything to which user can interact to the system, like ASP.NET Core MVC, SPA, or even blazor.

[2020-04-26 11:28] Greenmachine52 commented on #95
Hi there! @jasontaylordev I have some free time and could it done shortly.
Would you consider Hangfire rather than IHostedServices?

[2020-04-26 16:06] Hulkstance opened #116 "Question: GraphQL"
Since GraphQL becomes more famous and it will possibly replace REST in the future, I thought that it would be a good idea to create a template for it. Others might like it as well.

I don't know what's your opinion. I look forward hearing from you.

[2020-04-26 19:34] AlQuraian opened #117 "UnhandledExceptionBehaviour still catches exceptions handled by ApiExceptionFilter"
When I throw an exception within Mediatr flow I still see the error "Unhandled Exception" being returned. Even if the exception is declared in the handlers within ApiExceptionFilter.

[2020-04-27 12:23] sturlath commented on #113
Yes I think I will just do that. Right off the bat there is something I like I see here but only time will tell :-) Thanks for quick answer. I'll close this now.

[2020-04-27 12:23] #113 closed

[2020-04-27 22:30] BenyErnest opened #118 "Question: Relating ApplicationUser to entities in the domain"
Hi,
I would like to know how to create a navigation property from an entity in the domain to the ApplicationUser entity, since the latter is in the Infrastructure layer. Regards.

[2020-04-27 23:44] jasontaylordev commented on #70
Hey @brendan-ssw, can you please help with this one?

[2020-04-27 23:57] clockwiseq opened #119 "CurrentUserService Always Returns Null UserId"
**Describe the bug**
After logging in, the CurrentUserService always returns a null UserId value.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone or download repo
2. Unzip
3. Open solution in VS2019
4. Start debugging
5. Login as administrator@localhost (seeded user account)
6. Put a breakpoint on `CommonUserService` line 12
7. Refresh a page, voila, null.

**Expected behavior**
UserId

[2020-04-28 07:02] molntamas opened #120 "Question: Using IDateTimeService in DTO mapping"
I am returning a View Model of invoice data from a handler where I would like to check if the invoice is overdue.
I would like to compare a date field to the current date.

I wanted to implement this in the Mapping method of the DTO class.
Is this somehow possible with the CleanArchitecture template setup? Or should I do this logic in the handler?

[2020-04-28 07:53] MCCshreyas commented on #120
As you are returning ViewModel from the handler, better you associate the logic in handler itself, as its the business logic, it's better to write it in the handler itself.

[2020-04-28 19:07] Dishanx opened #122 "Share DTOs and validation logic between different features."
This is actually not a feature request. but a question.

CQRS design patten we build unique data models for reads and writes. and treat them as separate concerns with separate requirements.

When i start my project with CleanArchitecture template i notice i have to duplicate some of my Dto.I just want to make sure i'm doing it right.

In my project Author, Course and some of other controllers shar

[2020-04-29 19:59] justinjstark commented on #122
I use different DTOs across features for queries. They will probably diverge and there is little benefit from sharing them (but there are definitely exceptions to this).

On writes, it's different. If you create an author with initial courses, you want to use the same validation logic for creating a course as when you create an author with a course. That's a good example of when I'd want to share

[2020-04-30 11:00] jasontaylordev commented on #112
Please check, are you running in Debug or Release mode? I think Release. The error you have encountered indicates that it is trying to access Production configuration.

Also worth checking the ASP.NET Core Environment. When the application launches you should see:
Hosting environment: Development

Learn more here, https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments?view=aspnetco

[2020-04-30 11:01] jasontaylordev commented on #114
Here is a Blazor example; https://github.com/jasontaylordev/CleanArchitecture/tree/blazor

[2020-04-30 11:25] jasontaylordev commented on #117
Hi @AlQuraian - thanks for raising. Please provide more details regarding the expected vs. actual results. Currently, any exceptions within the application layer will be logged. It is expected that the client will handle these exceptions. In the case of a known exception, the ApiExceptionFilter will intercept and return a problem details object instead.

[2020-04-30 11:28] jasontaylordev commented on #116
Hi @Hulkstance. A good suggestion, but it's not a technology I'm looking to incorporate into this template right now. Thanks any and happy coding.

[2020-04-30 11:28] #116 closed

[2020-04-30 11:42] jasontaylordev commented on #120
Try injecting the `IDateTime` service into an AutoMapper [Custom Value Resolver](https://docs.automapper.org/en/stable/Custom-value-resolvers.html#custom-value-resolvers).

[2020-04-30 13:22] dobla-jgauthier commented on #112
Jason,

This did help. I noticed that there was an enviroment variable for DOTNET_ENVIRONMENT but not one for ASPNETCORE_ENVIRONMENT. After adding this latter one, it ran fine. I don't know if the DOTNET_ENVIRONMENT variable is from me or from the project, but I don't think it had an effect.

![image](https://user-images.githubusercontent.com/24664858/80715202-075d4e80-8ac4-11ea-80c2-f549ce35fd61.

[2020-04-30 13:22] #112 closed

[2020-04-30 15:27] AlQuraian commented on #117
Hi @jasontaylordev - Thanks for your reply and work.
Maybe I misunderstood the expected behavior. I thought that if an application exception such as NotFoundException is thrown and is handled by the ApiExceptionFilter, then it should not be caught/logged by UnhandledExceptionBehaviour, as it says "unhandled" when it's clearly handled by the filter.
Is this the expected behavior?

[2020-05-01 02:43] taylorc commented on #56
@MCCshreyas From my perspective the authorize attribute on the Controllers is to authenticate the user.

From a Clean Architecture perspective it is always good to move any application specific logic into application layer instead of keeping it in presentation, ex: if we were to re-package the application to be a console app or Desktop app or Job Scheduler app where we have to write all the securi

[2020-05-01 06:40] MCCshreyas commented on #56
@taylorc thanks for the commit link, which really helped me to understand. I got confused about the naming of the Authorize attribute, I thought it's coming from Identity.

[2020-05-01 07:03] taylorc commented on #56
@MCCshreyas Happy to help

[2020-05-01 12:58] Alexei000 opened #124 "Missing WebUI.IntegrationTests project"
**Is your feature request related to a problem? Please describe.**
This is not a feature request, just asking to clarify a missing project. The [GOTO 2019](https://www.youtube.com/watch?v=dK4Yb6-LxAk&feature=youtu.be#t=47m58s) presentation of this solution also includes a WebUI.IntegrationTests projects that seems to be missing here.

**Describe the solution you'd like**
Find out what happened to

[2020-05-02 04:37] sweeperq opened #125 "IMapTo?"
What do you think about adding an `IMapTo` interface that is basically the inverse of `IMapFrom`?

I implemented it in one of my projects and found it particularly useful when mapping simple Create/Update commands to Domain entities. Instead of manually mapping properties, or using `IMapFrom` and implementing a custom `Mapping` function on the command, it was nice to rely on the default `IMapTo` i

[2020-05-04 19:46] ChristopherEtter opened #126 "Decoupling SPA and API"
Is there a simple way to decouple the SPA and the WebAPI project to run the SPA from a console window and make changes and debug the WebAPI without having to recompile the SPA every time?

Typically I would just replace:
`spa.UseAngularCliServer(npmScript: "start");`
with
`spa.UseProxyToSpaDevelopmentServer("http://localhost:4200");`
in Startup.cs.

However I can't seem to find the configuration t

[2020-05-06 11:57] bennetritters commented on #119
Hello @clockwiseq ,

I have had the same issue in the past, and a little digging got me to realize that in order for the HttpContext to be able to recover the Users via claims the Controller needs the AuthorizeAttribute.

Simply add [Authorize] ontop on the Controller or Function.

[2020-05-06 16:37] BenyErnest opened #127 "Nswag configuration does not take into account the environment"
Trying to configure NSwag in this way

![image](https://user-images.githubusercontent.com/12765321/81202810-1eed7900-8f95-11ea-93e3-83b8ca090b69.png)

but always read from appsetings.json although I have configured different settings in appsetings.Development.json. In fact if I remove the IdentityServer object from appsetings.json I get a build error in this line:
![image](https://user-images.gith

[2020-05-07 13:19] michalkrzych opened #128 "Asynchronous validations run synchronously when invoked with Validate() instead of ValidateAsync()"
Asynchronous validations must be invoked with **ValidateAsync()** [ValidationBehavior.cs](https://github.com/jasontaylordev/CleanArchitecture/blob/master/src/Application/Common/Behaviours/ValidationBehavior.cs) to be run asynchronously according to the [FluentValidation documentation](https://docs.fluentvalidation.net/en/latest/async.html)

A fix requires to a change from calling Validate() to Val

[2020-05-07 23:35] GFoley83 commented on #56
Hi @jasontaylordev,

I've had a look at the auth attribute implementation and really like the simplicity of it. Couple of things came to mind while looking through the code:

- Assuming you'd be extending `ApiExceptionFilter` to include checking for `UnauthorizedAccessException` to return a `403`? If the user is not even signed in, we'd also ideally be returning a `401` given authentication comes

[2020-05-08 11:25] jasontaylordev commented on #124
Hi @Alexei000. Thanks for your interest.

I've upgraded the approach to testing since then, please check out this talk; https://www.youtube.com/watch?v=2UJ7mAtFuio.

The old project included ASP.NET Core Integration Tests, you can view it here: https://github.com/jasontaylordev/CleanArchitecture/tree/de836ab45bc125bafffde0ffcc169e5cfea2b7f6/tests.

The new project focuses on subcutaneous tests at

[2020-05-08 11:34] jasontaylordev commented on #127
Can you share a repo? I'd be happy to try.

[2020-05-08 11:38] jasontaylordev commented on #126
That's really all you need to do. Just so we're on the same page:

1. Within **WebUI\Startup.cs**, replace:
[code]
   With:
[code]
2. Launch the backend from `\WebUI` with the command:
[code]
3. Launch the front end from `\WebUI\ClientApp` with the command:
[code]

4. Navigate to  https://localhost:5001.

Let me know if that works.

[2020-05-08 12:10] jasontaylordev commented on #125
It sounds like a good approach, although I'd consider using an [explicit interface implementation](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/interfaces/explicit-interface-implementation). This would mean you would implement `IMapFrom.Mapping` and `IMapTo.Mapping` within the DTO. For your system, do you typically map both ways? If so you could just use one interface and perha

[2020-05-08 15:13] BenyErnest commented on #127
Hi Jason,
I've changed my project since the time I post the issue, but I forked this project and have reproduced the error, so I will share the forked project with you. Greets

[2020-05-09 15:03] barisvelioglu opened #130 "Doesn't the sample you provided look like an anemic domain model ?"
I think the domain layer should do more than just defining entities and their relationships as Martin Fowler suggested. However your todolist sample seems like anemic. What's your opinion about it?

https://martinfowler.com/bliki/AnemicDomainModel.html

[2020-05-09 15:57] sk0gen opened #131 "NSwag and Client generating"
So I had trouble generating client on linux, because there was no clear way how to do this.
I found [nswagNPM](https://www.npmjs.com/package/nswag) package and finally generated api-client.

My suggestion is write a script to generate client from specification (or directly from nswag.json, because it's well configured)

[2020-05-10 05:48] farshidtorkaman opened #132 "getting current user id in in cookie base authentication"
hi. I have problem in getting current user id in my web application.
 I am not using identity server  or token base authentication in my project. i am using cookie base authentication with identity 3.1 but when i want to get current user id this code in CurrentUserService class doesn't work.
`httpContextAccessor.HttpContext?.User?.FindFirstValue(ClaimTypes.NameIdentifier);`
but exactly this code w

[2020-05-10 06:49] PhantomParadox commented on #132
@farshidtorkaman check #119 it might help

[2020-05-10 07:48] farshidtorkaman commented on #132
@PhantomParadox yes i saw that but the solution was to put an authorize attribute in top of contoller but I don't want to be dependent to controller so I can use it in other layers

[2020-05-10 11:11] jasontaylordev commented on #130
Hi @barisvelioglu - thanks for your question. I've haven't chosen to demonstrate a DDD-approach with this template. It's up to you to implement your preferred approach. I tend to follow this advice; https://lostechies.com/jimmybogard/2016/12/12/dealing-with-duplication-in-mediatr-handlers/.

Happy Coding! 😊

[2020-05-10 11:11] #130 closed

[2020-05-10 16:24] ChristopherEtter commented on #126
Hi, Thank you for your time. Yes this fixed this for me. The problem I was facing was that I had not been running it through the CLI, but through IIS Express, and then not starting from port 5001. It was user error, but thank you for your response. I am sure someone else will find this as helpful as I did.

[2020-05-10 16:24] #126 closed

[2020-05-10 21:34] shareonline commented on #119
But isn't ICurrentUserService used by AuditableEntity? I'm using AzureB2C authentication, and AuditableEntity will not get updated with anything when it is always null. It is only populated when used in the WebUI project?

[2020-05-10 22:06] nikibreg commented on #118
They've answered this [`here`](https://github.com/jasontaylordev/CleanArchitecture/issues/87#issuecomment-599281162)

[2020-05-10 22:09] BenyErnest commented on #118
Thanks.

[2020-05-10 22:09] #118 closed

[2020-05-10 22:19] michalkrzych commented on #131
https://github.com/RicoSuter/NSwag/issues/2444

[2020-05-10 22:52] michalkrzych commented on #131
https://github.com/RicoSuter/NSwag/issues/2444

[2020-05-10 22:56] michalkrzych commented on #131
Duplicate of https://github.com/RicoSuter/NSwag/issues/2444

[2020-05-11 10:35] jasontaylordev commented on #117
No worries @AlQuraian and thanks for getting back to me.

Yes. In the context of the Application layer, it is an unhandled exception in that there is no handler in the Application layer designed to deal with this exception. It is therefore logged, within the Application layer, as an unhandled exception.

However, in the context of the client, it is a handled exception - since I've implemented an A

[2020-05-11 16:07] vthattai opened #133 "xUnit IntegrationTests, ApplicationInsightsTelemetry - Mediator.Send(request) throws exception"
My aspnetcore 3.1 web api uses Azure AppInsights. it's Startup.ConfigureServices() has a services.AddApplicationInsightsTelemetry().

I'm using Testing.cs (or SliceFixture) from a xUnit integration test project. both projects appsettings have the same appInsights/instrumentation key setting.

Mediator.Send(request) throws the following exception when called from a  xUnit Test (fact) method. The ha

[2020-05-11 17:17] sk0gen commented on #107
I also have same question. I followed CodeMaze tutorial and just have asp net core identity implementation. But what when I want to add Google auth to my app? I couldn't find any good resource

[2020-05-11 18:39] AlQuraian commented on #117
Now it's clear to me. Thanks for the elaborate answer.
I agree with you to keep it simple as it is.

Maybe there should be a comment in the UnhandledExceptionBehaviour to clarify that exceptions will be logged even if handled by the client layer, to avoid anyone getting confused and maybe creating an issue here.

Thanks again and keep up the great work!

[2020-05-11 18:39] #117 closed

[2020-05-11 21:37] pcarvsilva opened #134 "The project folder should be organized in Git Submodules"
Suppose the base classes change with a modification on the template, how could I update it ?
I've should be able to get new code from the modules calling git pull on submodules.

Suppose the template now has a new feature like sending emails. How would I get it ?
I've should be able to get new code adding a new submodule to my project.

Possible solution:

* On Application create a submodule with

[2020-05-12 05:57] ramax495 commented on #107
@sk0gen The solution is to configure IdentityServer with ResourceOwnerPassword flow. Here is tutorial how to implement it in ASP.NET Core: https://codebrains.io/how-to-add-jwt-authentication-to-asp-net-core-api-with-identityserver-4-part-1/

[2020-05-12 14:23] #133 closed

[2020-05-12 17:20] pcarvsilva commented on #56
How about removing the attributes using bitmask enums ?

Each sollution could make it on claims
[code]

Extend the request class so commands  could use it

[code]

Insert in the commad the claims necessary for it

[code]

And then add a pipeline authorization like so ...

[code]

This would make the command really easy to test the authorization, and also would make it great in the case you are usi

[2020-05-12 18:23] GFoley83 commented on #56
Love the idea of being able to use bitwise enums as it makes sense but not a fan of extending the `IRequest<T>` interface.
I touched on this [above](https://github.com/jasontaylordev/CleanArchitecture/issues/56#issuecomment-611468861) and there's a similar discussion in an open caching PR that also proceed extending the `IRequest<T>` interface .
The general rule is, if something is a cross-cutting

[2020-05-12 21:16] pcarvsilva commented on #56
What about making a service with a strategy that reads from the claim ?

Use it like that in your command
[code]

This class reads the command and selects the attributes strategies
[code]

Just extend it and inject dependencies

[2020-05-13 16:20] erkinyldz opened #136 "Foreign Key to ApplicationUser from Domain Entities"
Currently in the sample application ToDoList items are public and same for every user. I think this sample would be more complete if ToDoList items would belong to users, so each user would have their own list.

To manage something like that, what would be the best way to have a foreign key to AspNetUsers table?

[2020-05-14 22:23] jonmsherman opened #137 "[question] Patch endpoints"
Hi, I was wondering if you plan on implementing patch endpoints?

[2020-05-15 09:36] danijel88 opened #138 "Missing Controller"
**In existing project I had couple of new ApiControllers, from where last two controllers VersionController and TestController are not displayed in NSWAG.**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
https://i.imgur.com/nXgNbk8.png
Missing in NSWAG: https://i.imgur.com/TPyxV1A.png
Even

[2020-05-16 18:04] nikibreg commented on #138
I had the same problem and I fixed it by uncommenting the NSwag command inside the WebUI.csproj file.

[2020-05-17 20:55] #131 closed

[2020-05-17 20:57] sk0gen commented on #136
I get to same point. How to manage to create Entity that belongs to User?
Any help would be appreciated

[2020-05-18 02:38] jpsullivan commented on #136
It would appear that this question has been asked and answered [here](https://github.com/jasontaylordev/CleanArchitecture/issues/87#issuecomment-599281162).

[2020-05-18 06:04] danijel88 commented on #138
It is already uncommented. For some reason only 5 API it is displayed, I had remove one and immediately appear another one...

[2020-05-18 10:42] jasontaylordev commented on #138
Taking a look now, thank you for putting together a sample repo.

[2020-05-18 11:03] jasontaylordev commented on #120
Thanks for your question, closing.

[2020-05-18 11:03] #120 closed

[2020-05-18 11:04] jasontaylordev commented on #114
Hope that helped, closing issue.

[2020-05-18 11:04] #114 closed

[2020-05-18 11:25] jasontaylordev commented on #138
Hi @danijel88. Thanks for reporting this issue. I've checked the following:

 - Clone and build ✔
- NSwag running ✔
- Generate specification.json correctly ✔
- Launch the project from VS 2019 using CTRL + F5 ❌

When I launch the project I get the following error:
[code]

This exception is happening in Program.cs in the catch block, so the application is failing to start. Sadly, it's also failing t

[2020-05-18 11:29] #107 closed

[2020-05-18 12:17] danijel88 commented on #138
@jasontaylordev Thanks for your time.
Launch the project from VS 2019 using CTRL + F5 or F5(debug with breakpoints on line 40 in Program.cs )  from my side it works, I'm not getting any error which you wrote, strange, but true...
Only what I'm getting from console is this(still didn't do modification which you suggested.) : https://i.imgur.com/tNJxG0r.png

After updates suggested by you:
No more

[2020-05-18 20:08] litan1106 opened #139 "[Feature request] Use fluent validation rules on controller query parameters, body parameters"
Use fluent validation rules on controller query parameters, body parameters so we return a meaningful error message.

Ex: when the required query parameter is missing, it returns 500.

{
    "type": "https://tools.ietf.org/html/rfc7231#section-6.6.1",
    "title": "An error occurred while processing your request.",
    "status": 500
}

[2020-05-18 23:44] NickFranceschina opened #140 "Should Application know about EntityFramework?"
First, thank you for this project, it has been very helpful!

`IApplicationDbContext` is defined inside of the Application project and uses `DbSet` in the interface... which requires a reference to EntityFramework... which is more of an Infrastructure detail, is it not?  Wouldn't it be more correct to define a generic interface (repository or not) then have the infrastructure implement that with w

[2020-05-19 10:12] MCCshreyas commented on #140
You might. I think the `DbSet<>` are just there in the interface just to enforce implementing class that these are the domain entities, and you should have the corresponding DbSet for them to perform operations.

[2020-05-19 11:16] #128 closed

[2020-05-19 11:19] jasontaylordev commented on #128
Thanks again @michalkrzych 😊

[2020-05-19 12:51] flensrocker opened #141 "Q: Dispose of _currentTransaction in ApplicationDbContext"
I like the methods around transactions in your `ApplicationDbContext`. But I wonder if there is some kind of leak with the `_currentTransaction` if neither `CommitTransactionAsync` or `RollbackTransaction` is called, maybe due to an exception.

Normally I would write something like
[code]
where I dispose the transaction and get an automatic rollback on an exception before the commit.

Shouldn't th

[2020-05-19 12:52] flensrocker commented on #140
See #42

[2020-05-19 13:36] flensrocker commented on #119
I use a different approach for `ICurrentUserService`, because most of my library code is not only used in ASP.Net Core but also in WPF and Xamarin.
[code]
Yes, I have a setter on the current userid...

A default implementation:
[code]

A useful extension:
[code]

In my ASP projects I use a middleware:
[code]

In my other (WPF) projects I use another implementation which sets the current user deriv

[2020-05-19 13:47] flensrocker commented on #132
What ever you do in other layers, everything is done on behalf on some request. If this request isn't decorated with an `Authorize` attribute, there is no "current user".

With cookie authentication there's a corresponding middleware which extracts the cookie and transforms it into the `ClaimsPrincipal` of the `HttpContext`.

If you call your deeper layer from something different like a request (e

[2020-05-19 13:49] shareonline commented on #119
Nice and simple approach! thank you :)

[2020-05-19 15:26] farshidtorkaman commented on #132
yes i have Authorize attribute on top of my controller.
`httpContextAccessor.HttpContext?.User?.FindFirstValue(ClaimTypes.NameIdentifier)` returns null in my case.
but i did not understand your solution for my problem. should I do something in startup.cs for transforming cookie to ClaimsPrincipal? I would be appreciate if you could explain more. thank you

[2020-05-19 15:41] flensrocker commented on #56
I think you can omit the string splitting stuff with something like this:
[code]
It depends if you want to extend this attribute with other properties like claims or policies or if you split them in "single responsiblity" attributes, like `AuthorizeRoles`, `AuthorizePolicy`, `AuthorizeClaims` etc.

This is also possible and leads to cleaner code, even if the user has to type a bit more:
[code]
The

[2020-05-19 15:52] flensrocker commented on #132
How do you setup exactly the authentication in startup?

If you break on that line, which object is null? httpContextAccessor, HttpContext or User?

If httpContextAccessor is null, you have to add `services.AddHttpContextAccessor();` to your Startup.

When I use the default cookie authentication of Microsoft.Identity with `services.AddIdentity<...>()` (I haven't worked with IdentityServer so far),

[2020-05-19 16:05] farshidtorkaman commented on #132
this is in startup.cs
![Screenshot (100)](https://user-images.githubusercontent.com/52992954/82349283-29852500-9a0f-11ea-9caa-b18936173ae2.png)
and this is in infrastructure layer dependency injection
![Screenshot (101)](https://user-images.githubusercontent.com/52992954/82349355-3d308b80-9a0f-11ea-9086-9ff8eb8f708b.png)
and httpContextAccessor.HttpContext.User is not null but when I collapse User

[2020-05-19 16:40] flensrocker commented on #132
These parts seem to be ok.

Next step is the login code. Do you use the SignInManager to authenticate the user?

[2020-05-19 16:59] farshidtorkaman commented on #132
yes. this is how I do it.
`await _signInManager.PasswordSignInAsync(model.Email, model.Password, model.RememberMe, false)`

[2020-05-19 17:29] flensrocker commented on #132
I'm running out of ideas...

What kind of resource do you access, an api controller or a razor page?

If you inspect httpContext.Request.Cookies, do you see your authentication cookie? Do you see it in your browser?

Without seeing the whole code and the possibility to debug myself, I'm done...

[2020-05-19 17:31] farshidtorkaman commented on #132
Razor page. Shoud’nt I add custom claims after registering a user? Right now i am just use simple UserManager and CreateUserAsync

[2020-05-19 17:42] flensrocker commented on #132
Have you added that page via the razor page options to authorization?

https://docs.microsoft.com/en-us/aspnet/core/security/authorization/razor-pages-authorization?view=aspnetcore-3.1

[2020-05-19 18:01] farshidtorkaman commented on #132
@flensrocker I mention this before and I think it would be better I do it again
`httpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier)` is working in controllers. but it is not working in independent class

[2020-05-19 18:04] flensrocker commented on #132
What exactly do you mean with "independent class"? If this is a class which is injected on a razor page, it should work, if this razor page is protected by authorization.

Can you access that page without login?

[2020-05-19 18:11] farshidtorkaman commented on #132
i meant it is not inherited from any other class except ICurrentUserService.
and no it will send me to login page

[2020-05-19 18:20] flensrocker commented on #132
Sorry, but I'm lost...

Can you share the code of that class?

[2020-05-19 18:21] farshidtorkaman commented on #132
I have the project in my repositories. leo-coin

[2020-05-19 18:33] flensrocker commented on #132
That helps. Which page has the problem?

[2020-05-19 18:38] farshidtorkaman commented on #132
src/WebUI/Area/Panel/DashboardContoller.cs - index action
CurrentUserService is in WebUI/Services
Actually I have not commit my changes but I need userid in that action and i have to recieve it from currentUserService

[2020-05-19 18:54] flensrocker commented on #132
I will look into the code tomorrow.

[2020-05-19 22:52] #137 closed

[2020-05-19 22:53] jonmsherman opened #142 "Question: Where would authorization/authentication handlers go?"
Hi, I want to implement role-based permissions and I was wondering if these handlers would go in the application layer because they're sort of business logic?

[2020-05-19 23:04] GFoley83 commented on #142
See here https://github.com/jasontaylordev/CleanArchitecture/issues/56

[2020-05-20 00:05] jonmsherman commented on #142
@GFoley83 this helped a lot thanks! Any chance there's also more of an explanation on where to do JWT authentication? I want to check if the JWT is valid first and then I want to authorized based on roles, would this be a separate behavior?

[2020-05-20 05:03] GFoley83 commented on #142
For the soltuions in https://github.com/jasontaylordev/CleanArchitecture/issues/56, the authentication and authorisation checks all happen inside a behavior pipeline that get run on every request.
So for example, if you look at Jason's solution from https://github.com/jasontaylordev/CleanArchitecture/issues/56 https://github.com/jasontaylordev/CleanArchitecture/commit/573f3061e2b3b50ef5e2515b03e1a

[2020-05-20 09:01] flensrocker commented on #132
I can reproduce your problem, but I don't know a solution yet.

[2020-05-20 09:11] farshidtorkaman commented on #132
Thank you so much for your help.

[2020-05-20 09:28] flensrocker commented on #132
Ok, now I have a clue.

The constructor of `CurrentUserService` gets executed before the authorization middleware kicks in to populate the `HttpContext.User`. I don't know if it's related to cookie authentication or if it's a general problem. If I change the `CurrentUserService` to some kind of lazy evaluation of the `UserId` everything seems to work.

[code]
With this the `ICurrentUserService` ca

[2020-05-20 12:25] #124 closed

[2020-05-20 12:40] jasontaylordev commented on #111
Thanks, this is fixed. Please run:

[code]

[2020-05-20 12:40] #111 closed

[2020-05-20 12:55] jasontaylordev commented on #141
Actually, these methods are not in use and I have removed them. I used them when I was trying out different approaches to automated testing but forgot to remove afterwards.

[2020-05-20 12:55] #141 closed

[2020-05-20 12:57] jasontaylordev commented on #140
Thanks @NickFranceschina, you're welcome. I think #42 covers it well, closing.

[2020-05-20 12:57] #140 closed

[2020-05-20 12:59] farshidtorkaman commented on #132
It worked!!
I really dont know what to say. Thank you so much

[2020-05-20 13:11] flensrocker commented on #119
@clockwiseq
As mentioned in https://github.com/jasontaylordev/CleanArchitecture/issues/132#issuecomment-631357951 there could be a problem with the request pipeline where the authorization middleware, which populates the `HttpContext.User` from a JWT or cookie runs after the `ICurrentUserService` is instantiated. I can't confirm it with a pristine generated template, but you can try the lazy evalu

[2020-05-20 13:22] jasontaylordev commented on #138
I get the error only because your database connection string is not valid for me.

This is a different issue. It's just ASP.NET Core waiting for Angular to start. Hopefully, MS will improve this in their SPA template soon.

I've reviewed DebugOutput.txt but can't see the issue. You can see that I am not experiencing this issue as WeatherForecast is visible.

Also, if I take the specification from

[2020-05-21 05:55] jonmsherman commented on #142
@GFoley83 thanks for this, however I'm trying to implement authentication/authorization using auth0, do you have any ideas for this?

[2020-05-21 07:01] GFoley83 commented on #142
It's the very first file in the commit: https://github.com/jasontaylordev/CleanArchitecture/commit/573f3061e2b3b50ef5e2515b03e1a118602a1630 `AuthorizationBehaviour.cs`

Which hasn't been pulled into the `master` branch yet. So if you'd like to use that new logic for `role` checking, then you'll need to checkout that commit directly and make your own changes on that.

If you're using Auth0 then you

[2020-05-21 07:08] jonmsherman commented on #142
@GFoley83 I guess I'm not super familiar with IdentityServer, but it looks like it's just checking for roles in that file and I don't see anything about a JWT? As for the auth0, I'm really just trying to make a new project using clean architecture principles, here is my JWT implementation I was looking at using auth0: https://auth0.com/docs/quickstart/backend/aspnet-core-webapi/01-authorization, t

[2020-05-21 07:15] GFoley83 commented on #142
I've updated my question above so take another look.

Yes exactly.

Given you're looking to use Auth0 as the OIDC provider, you will need to figure out the correct configuration yourself e.g what goes in the service extension, as this solution is configured to use IdentityServer4 for that purpose.

https://stackoverflow.com/questions/47058697/identityserver4-vs-auth0

[2020-05-21 07:19] jonmsherman commented on #142
So it's ok to leverage the ASP.NET middleware instead of putting this inside of the mediatR pipeline ( I thought we didn't want dependencies on the framework)? That is the part I'm confused on because I'm not sure how to do put uath0 related code inside the of the behaviors.

[2020-05-21 16:14] #132 closed

[2020-05-21 17:52] altumcon commented on #56
How to Protect Routes Based on User Role in ClientApp

[2020-05-22 02:24] GFoley83 commented on #142
Not really not. That's what you get out of the box with most solutions but with CleanArchitecture, the best place to do this is in the Application layer as a MediatR pipeline, in my opinion.

There are two separate parts to this which I think you should be clear on:

- There's the configuration needed inside `WebUI/Startup.cs` and `Infrastructure/DependencyInjection.cs` to boothstrap authenticatio

[2020-05-22 15:40] NickFranceschina commented on #140
apologies... I thought I had searched around for a previous issue before posting new

[2020-05-22 17:46] altumcon opened #143 "Protecting Routes in Client App"
I am trying my hands into this code base. I want to know how can we protect routes in client app with roles. As the authorise attribute is working fine but my protected routes are showing to user who are not holding the admin rights.
Is there a way I can hide the routes based on the role.

[2020-05-23 18:49] AlQuraian commented on #143
Yes, there's a way. However, you would have to do this on the frontend.
In your frontend project, get the the user's roles from the backend and create a [route guard.](https://angular.io/guide/router#preventing-unauthorized-access)

[2020-05-23 18:56] AlQuraian opened #144 "[Question] Is there a way to keep the seeded data in the integration tests"
I liked the recent changes to include a real database for testing. However, after migrating my code to be the same. It seems that Respawn deletes the seeded data on rest. The only way I was able to avoid this is by ignoring the tables, i.e. adding them to 'TablesToIgnore'.

Is there a better way to reseed the database?

Thanks a lot!

[2020-05-23 20:13] zaanposni opened #145 "Use project template without frontend"
**Is your feature request related to a problem? Please describe.**
Hi,
I watched your presentation at GOTO2019 and really liked  the setup of your template. However I want to implement an API without any frontend.
Is there a complete guide on how to remove anything related to the frontend?

**Describe the solution you'd like**
Give the option to install a subversion/extension of this template with

[2020-05-24 09:20] Admiralkheir opened #146 "[Question] Presentation Layer Depend On Application and Infrastructure"
I watched the GOTO2019 video and liked this template too much but I didn't get it truly. When I looked WebUI.csproj, I have noticed the Presentation layer depends on Application and Infrastructure. According to the video, Presentation and Infrastructure should be depended

[2020-05-24 14:42] MrKonstantinSh commented on #146
The README.md file says "WebUI layer is a single page application based on Angular 9 and ASP.NET Core 3.1. This layer depends on both the Application and Infrastructure layers, however, the dependency on Infrastructure is only to support dependency injection. Therefore only Startup.cs should reference Infrastructure." 😄

[2020-05-24 16:21] AlQuraian commented on #146
The clean architecture or onion architecture implies that the most outer layers depend on inner layers. So, presentation and infrastructure would depend on application and domain, see:
https://jasontaylor.dev/clean-architecture-getting-started/

[2020-05-24 16:47] Admiralkheir commented on #146
Thanks for explanations, I should have been more careful, sorry :sweat_smile:

[2020-05-25 20:58] AlQuraian opened #147 "User creation in Testing could fail"
The current code isn't handling failure scenarios:

[code]

I'll push a PR for the fix now.

[2020-05-26 08:33] #146 closed

[2020-05-26 15:00] nagtilaklaxman opened #149 "Application startup exception System.InvalidOperationException: Key type not specified."
Application startup exception
System.InvalidOperationException: Key type not specified.
   at Microsoft.AspNetCore.ApiAuthorization.IdentityServer.ConfigureSigningCredentials.LoadKey()
   at Microsoft.AspNetCore.ApiAuthorization.IdentityServer.ConfigureSigningCredentials.Configure(ApiAuthorizationOptions options)

**To Reproduce**
Steps to reproduce the behavior:
1.  after dotnet run command
4. Se

[2020-05-27 14:05] o-l-i-g commented on #145
I'm on the same journey as you @zaanposni, I wanted to remove dependency to Angular and NSwag and I did the same thing to begin with. I too didn't feel confidence as I don't have experience dealing with SPA or NSwag - so instead I created a separate ASP.NET Core web app project and copy & pasted the relevant aspects for dependency injection (Application/Infrastructure layers and CurrentUserService

[2020-05-27 14:57] erkinyldz commented on #136
It seems like this question is indeed answered. Correct me if I'm wrong but, the ideal way seems to be having UserID saved but not referenced to any other place. Saving UserId is as simple as inheriting from AuditableEntity

[2020-05-27 14:57] #136 closed

[2020-05-27 23:42] Marusyk commented on #125
It is very interesting. I need `IMapTo` too
@jasontaylordev @sweeperq are there any code samples?

[2020-05-28 23:31] mfandre commented on #66
@SuliemanMansouri how you fix it? I'm with the same problem... I deploy, generate pfx file... Published... but when I try to login I always am redirected to login again...

[2020-05-29 14:39] abdullahahmedmohamed opened #150 "[Question] using IFormFile in Application Layer ?"
**is that acceptable to declare property of type `IFormFile` in command and use it in Application Layer ?**

Because i think the `IFormFile`  type is more related to the framework and presentation layer
for example in asp net mvc to bind files we used `HttpPostedFileBase` now in asp core we use `IFormFile` and maybe tomorrow there is new type for files  .

**so should i make abstraction on it ?**

[2020-05-29 15:34] litan1106 opened #151 "Applicaton.IntegrationTests folder typo"
Applicaton.IntegrationTests folder typo in tests/Applicaton.IntegrationTests

[2020-05-31 00:43] achmstein commented on #78
I have a background job that need to retrieve a list of products. Should I use 'query/query handler' to retrieve products? or should I directly query DbSet<Products>? By the way these products won't be returned to client side, they're needed to perform business logic only.

[2020-05-31 03:51] MCCshreyas commented on #78
@achmstein better to use query handler, then you can have those logging and other behaviors attached to it.

[2020-05-31 15:33] iozcelik opened #152 ".Net Core MVC"
I try to implement this template without using Angular. But I have some problems. My problems;

- I want to use create and edit page same. But how to convert or use Dtos or ViewModels in here?
- I have multiple Dto and Domain class. And sometimes I may miss a property. Why we do not use an interface and implement this interface to Dto and Domain model? If it is a good implementation, where we keep

[2020-06-01 15:23] jawand opened #153 "How to handle Validation exceptions for razor views?"
Hello Jason,

Great work on this template project.

I have one question i.e. how to handle validation exceptions thrown by `Application Layer`?

[code]

Now, in the ApiExceptionFilter we have handled the exception, but since the sample is just an API it returns a JSON object.

Whereas in my case I want to re-display the same MVC Razor page and display all the validation errors as per the Model pro

[2020-06-01 20:10] sk0gen opened #154 "Sorting and Pagination"
How do you provide sorting and pagination for your queries?

Do you think an abstract class with properties for sorting like page, pagesSze and sort field and order is good solution?

[2020-06-02 16:56] ShamalFdo129 opened #155 "What is best way to refer ApplicationUser in Domain Entities"
@jasontaylordev  Could you let me know what is best way to add a relationship between ApplicationUser and other Domain Entities in EF? Since ApplicationUser in Infrastructure proj and other entities are in Domain proj.

[2020-06-03 10:08] MCCshreyas commented on #155
Hi @ShamalFdo129
The following issue threads will help you to understand.

#71 #58

[2020-06-03 10:09] MCCshreyas commented on #154
Hi @sk0gen
Recently I have opened pull request for the solution with pagination support.
You might wanna check out that for help.
#121

[2020-06-03 10:54] ShamalFdo129 commented on #155
@MCCshreyas
Thank you very much. I got the idea.

[2020-06-03 10:55] #155 closed

[2020-06-03 12:01] danijel88 commented on #138
Hi,
Sorry for late replay it is fixed, I had manage from angluar side to hide those progress form console.
Actually after I changed Program.cs i got all Controllers.
Thanks for help.
Danijel

[2020-06-03 12:01] #138 closed

[2020-06-03 12:03] danijel88 opened #156 "[Question] Modify Registration"
Hello,
I have only one question, how we can modify template for registration of new users ?
Regards,
Danijel

[2020-06-04 05:49] nixonad commented on #56
@GFoley83 : For completeness, do you have an implementation of GetAuthValidator referenced in your solution above?
I think your strategy with authorization is ideal, I've never quite got why hardcoding your roles in code is a good/acceptable thing to do. This strategy lets me implement role/claims/permission checks in any way I need to without modifying any of the plumbing.

[2020-06-04 07:26] danijel88 commented on #152
Hi @iozcelik ,
Instead to use WebUI, you should just create new project MVC, and start to use Mediatr there.
WebUi is just presenting layer.
In MVC if you want to have ViewModels you have two options:

1. Create same classes as DTOs  in ViewModels folder
2. use already exist DTO's inside of you Controllers

I had saw both options to be used, and I think it is only the matter of practice.

About Mu

[2020-06-04 08:19] shaif-dorIT opened #157 "Blazor Server Side Bug? I'm getting key type no specified Error"
Hi, I'm pretty new go gitub so in order to not mess thuings up in this template,
i forked this repository and created new branch of Blazor Server-Side UI project to replace the regular WebUI project but when i start it i get this error:

![image](https://user-images.githubusercontent.com/53523883/83731955-00da6d80-a654-11ea-8c41-5de6455dfbbc.png)

will show up only if i comment the line:
`app.UseI

[2020-06-04 08:23] shaif-dorIT commented on #157
also, this is the link to the forked repository : https://github.com/shaif-dorIT/CleanArchitecture

[2020-06-04 09:15] shaif-dorIT commented on #157
*FacePalm*....

Sorry guys i found it, took me time i needed to add to the development appsetting.json file the following:
`"IdentityServer": {
    "Key": {
      "Type": "Development"
    }
  }`

[2020-06-04 09:15] #157 closed

[2020-06-04 09:37] JanOonk opened #158 ""Root element is missing" when trying 'dotnet run'"
Followed all the installation steps, but when doing the last step 'dotnet run' I got an error:
[code]

Also opening the project in Visual Studio and doing a rebuild solution give errors.
The solution for me was clearing NuGet caches:
Tools > Nuget Package Manager > Package Manager Settings > General > Clear all Nuget Caches

Just wanted to document / let you know.

[2020-06-04 10:47] GFoley83 commented on #56
@nixonad Yes. Just see my branch here for a full working example:
https://github.com/GFoley83/CleanArchitecture/tree/feature/auth-behavior

It's up to date with the latest version of `master`, as of today.

To test, just checkout, start debug, create a new user and try adding a Todo list to see the failure below. The built in administrator account has the correct role/claim to add a Todo list.

![

[2020-06-04 23:26] o-l-i-g commented on #56
I am hoping to get some guidance. I've spent a week watching videos and reading a ton trying to understand and I'm not quite there yet.

I've been trying to port my code into this architecture and I finally tried to start last week. First of all, huge kudos to @jasontaylordev and @GFoley83 on the contributions and explaining things on this repository / thread. If I had the knowledge I wish to cont

[2020-06-05 06:18] iozcelik commented on #152
Actually, I do not decide which one is correct in case of the below code. Now I need a model to shown some values when page loading. But using Dto or using a command is critical here.

Using command:
[code]

Using DTO: (Validator not working as expected.)
[code]
In my opion, using command is good choice but mapping in here, is right?

[2020-06-05 06:38] danijel88 commented on #152
Hi @iozcelik ,
May I kindly ask you to upload the code in repository for checking so I can give you proper replay ?
Regards,
Danijel

[2020-06-05 08:46] iozcelik commented on #152
Hi @danijel88 ,

I create a [repository](https://github.com/iozcelik/NorthwindTraders).

What I did?

- Use asp .net core 3
- Add IMapFrom<CategoryDto> to UpsertCategoryCommand
- Add UpsertCategoryCommandValidator
- Add GetCategoryQuery
- Added all views and related controller

[2020-06-05 15:30] gitprabin opened #160 "HTTP Error 500.30 - ANCM In-Process Start Failure"
When i publish and run the application i got, ANCM In-Process Start Failure in browser,
My publish method is File System, Deployement Mode is Framework-Dependent, Target Runtime is Portable.

-I Used to solve by microsoft docs from this references link,
https://docs.microsoft.com/en-gb/aspnet/core/test/troubleshoot-azure-iis?view=aspnetcore-3.1
but not resolved from known methods.
-Others app whic

[2020-06-06 10:59] GFoley83 commented on #56
1. Yes, you can delete the `ClientApp` folder and remove the SPA references if you just plan on using the solution as an API.
1. Yes. IdentityServer4 is your OpenID Connect provider. If you want to use auth with your application e.g. JWTs then you're going to need to use something to do this.
1. Not sure what you're trying to accomplish sorry or why you'd want to reimplement login, logout etc your

[2020-06-06 18:38] workcontrolgit commented on #160
I often got this error when publishing to Azure App Services.  Where do you publish your app to?   For me, the error was related to network connectivity to the database server and database permission.   I had to enable stdout to see the error detail.

[2020-06-06 18:52] Admiralkheir commented on #160
You can enable logs on web.config then check it. https://stackoverflow.com/questions/40536073/where-do-logs-go-when-running-asp-net-core-on-iis-7-5 Don't forget to give permission to IIS_IUSRS and check the event viewer

[2020-06-06 19:19] thechadc commented on #156
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-3.1&tabs=visual-studio#scaffold-identity-into-a-razor-project-with-authorization

[2020-06-07 05:40] gitprabin commented on #160
I have found the issue on identity server configuration, finally i have published, Thanks for you Admiralkheir  and workcontrolgit  for the response.

[2020-06-07 05:40] #160 closed

[2020-06-07 19:07] o-l-i-g commented on #56
Thanks @GFoley83  I got a new motivation to stick with IdentityServer4! Really appreciate the time you took to answer.

This video from [Xamarin University](https://www.youtube.com/watch?v=kW943XDHwE8) helped me figure some of the missing pieces I didn't get from my initial reading on documentation from [Microsoft](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/enterprise-application-patte

[2020-06-08 10:49] danijel88 commented on #156
@thechadc  Sorry I'm not so good in Front-end, that part I did already, but how I can now change to be used _Layout ? because still when I open Registration my changes are not visible. Probably I need something to do in Angular setup ?

[2020-06-09 00:04] vksantoshsunny opened #162 "GraphQL Support for the API end points"
Is there a plan to add an endpoint to support GraphQL queries.

[2020-06-09 08:51] #156 closed

[2020-06-09 13:29] danijel88 commented on #152
Hi,
I have check code. I'm thinking how we can move Mapping inside of business logic , for the moment leave as it is till not find proper solution.

[2020-06-09 19:46] altumcon opened #163 "consumer attribute is ignored"
**Describe the bug**
how to configure consumer attribute so the controller content type is changed to multipart/form-data.
or Is there a way to configure swagger to use multipart/formdata

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

*

[2020-06-09 20:51] nikibreg commented on #163
Add `[FromForm]` inside the controller action, before the parameter.
Example:
`[HttpPost("Add")]
async Task<ActionResult<string>> Add ([FromForm] AddCommand command)`

[2020-06-10 20:57] meekcg opened #164 "[Question] Mapping ApplicationUser to List"
Hi

How do you map a list of ApplicationUsers if you cannot `public class UserListDto : IMapFrom<ApplicationUser>` in the Application layer

[code]

Thanks

[2020-06-10 21:25] #164 closed, assigned to nobody

[2020-06-11 07:29] villesalomaki opened #165 "Application loads slow and poor performance"
**Describe the bug**
Application loads slow and the operation is slow too.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/jasontaylordev/CleanArchitecture.git
2. Set WebUI as startup project
3. Build the project
4. Press F5
5. After **50 seconds** the main page has loaded. The load time is just as slow if I stop the application and press F5 again.

**Expected be

[2020-06-11 08:14] villesalomaki commented on #165
I get the same bad performance if I create a new project by using the default "ASP.NET Core with Angular" template.
[code]
Is it really supposed to be this slow? And if yes, why this template was chosen to be used?

[2020-06-11 19:27] altumcon commented on #163
controller
 public async Task<ActionResult<long>> Create([FromForm] CreateNewsCommand command)
        {

           // var command = new CreateNewsCommand();
            //command.NewsMedia = file.;
            return await Mediator.Send(command);
        }
Reuest:

 public class CreateNewsCommand : IRequest<long>
    {  public long NewsDetailId { get; set; }
        public string NewsTitle { get

[2020-06-13 14:28] k290 opened #166 "Question: Can you share DTOs?"
I've been exploring scaling up this repository into a CRUD but I'm already tripping up. The Northwind Traders example also doesn't give me any further insight to this question.

Lets say that there are various places in the application where you can use a dropdown list to select a user. This is used to search on some entity that is linked to a user.

Assume a list of Dto's used inside one particul

[2020-06-13 15:34] #166 closed

[2020-06-13 15:35] k290 commented on #166
I figured it out. I need to move the LookupDto to its own query which returns a vm. Then other queries can call that query

[2020-06-17 21:52] osama9 commented on #165
Try to remove NSwag.

[2020-06-20 10:10] xontab commented on #119
I agree with @flensrocker.  Created a PR (https://github.com/jasontaylordev/CleanArchitecture/pull/168) to use the accessor directly as it is safer that way.  Since `HttpContext` is using `AsyncLocal` and the `CurrentUserService` is using DI, they both use a different code path.  Thus there might be synchronisation issues where the wrong `HttpContext` is cached when `CurrentUserService` is initial

[2020-06-20 13:47] ralpholazo24 opened #169 "Clean Architecture Deployment in Azure"
Is there any tutorial on how to deploy this on microsoft azure?

[2020-06-20 18:37] altumcon commented on #150
I have used IfromFile in command request of the application layer.

[2020-06-20 18:41] altumcon opened #170 "IFromFile Shows null."
Can any one please show me how to use ifromfile to upload images. As in my controller when I call for Ifromfile Its returns null. Is there any specification I missing or what?
Below is my code for controller, command and command handler
controller:
[code]
command
[code]
command handler
[code]
I am using NSwag v13.6.1
Please help me.I am really stuck in this

[2020-06-21 11:09] xontab commented on #70
Created a PR (https://github.com/jasontaylordev/CleanArchitecture/pull/171) that adds Docker support

[2020-06-22 07:21] xontab commented on #149
This usually happens when the `Key` options are missing in `IdentityServer`.

When running the application in Development mode (via `ASPNET_ENVIRONMENT=Development` environment variable) the `appsettings.Development.json` will be applied which includes the following configuration.  This will create adhoc certificates which cannot be used in Production.

[code]

Thus for Production mode, you will n

[2020-06-22 15:18] litan1106 commented on #165
Not on my end with just swagger and the api. (It was blasting fast)
![image](https://user-images.githubusercontent.com/1310539/85304689-e2041580-b460-11ea-95ef-8172473dbec1.png)

[2020-06-24 03:37] lehoangphan opened #172 "Does Infrastructures know/ depend on Presentation ?"
Presentation depends on Core
Infrastructure depend on Core

but does Infrastructure know anything in Presentation ? or Presentation know anythig in Infrastructure ?  (call class, method from other )

thanks.

[2020-06-24 11:45] danijel88 opened #173 "[Question] How to separate nav menu links based on Role"
Hi,
Question, how we can choose what user see based on Role from FrontEnd side, authorization from api are clear ?

[2020-06-24 11:52] GFoley83 commented on #172
No. The answer for this is in the README; Presentation references the other projects for dependency injection only.

[2020-06-24 12:17] GFoley83 commented on #173
Clean Architecture doesn't currently support roles or checking claims E.g for a role. However there are working examples of how to add this feature in this issue:
https://github.com/jasontaylordev/CleanArchitecture/issues/56#issuecomment-611468861

After that, to check for a role or role claim in the front end you'd need to either add the claim to the access token that gets returned on sign in. Or

[2020-06-24 12:25] GFoley83 commented on #169
There's are no special considerations when deploying the solution to Azure; it's a standard .NET Core solution.

Similar question was already asked and answered here:
https://github.com/jasontaylordev/CleanArchitecture/issues/80#issuecomment-605941356

[2020-06-24 20:44] AlaaL commented on #164
Hi,
why the issue is closed did you know the answer ?
because i want to to the same thing now.

[2020-06-25 06:33] danijel88 commented on #173
Hi @GFoley83  thanks for the replay, I even before had saw that discussion. I like your suggestion. Since I'm quite new in Identity Server and for the fron end I'm newbie, my idea was to somehow change
[code]
to add roles as an array, and to read from authorization service.
Do you have any idea how I can change that and manage when user is logged to generate that new property ?

[2020-06-26 02:06] GFoley83 commented on #173
I've update my branch with an example of what you need. Check out the solution from here and run it:
https://github.com/GFoley83/CleanArchitecture/tree/feature/auth-behavior

After you sign in with the default admin account, you'll see the role in the header:
![image](https://user-images.githubusercontent.com/838788/85812930-0a1fab80-b7b6-11ea-94cf-e807602a6849.png)
See here for code required to r

[2020-06-26 02:59] workcontrolgit commented on #169
I did experiment with the deployment with the backend is MS SQL SaS to Azure from Visual Studio 2019 Community.   Here are the steps

1. Create app service and download the publishing profile
2.  Setup connection string in the app service to point to MSSQL SaS DB
3. In VS Studio, publish the app to Azure using the publishing profile (in step 1)

Issues I ran into
1.  Identify server certificate er

[2020-06-26 06:59] jessejjohnson opened #174 "Removing AspNetCore dependency from Infrastructure"
How could we remove [_AspNetCore_ dependencies](https://github.com/jasontaylordev/CleanArchitecture/blob/37e15e49c8c3b2d548a45b7f51471191f897a42e/src/Infrastructure/Infrastructure.csproj#L12) from the _Infrastructure_ project? With the following references, could a console interface utilize a `DbContext` with the _Infrastructure_ project?

- `Microsoft.AspNetCore.ApiAuthorization.IdentityServer`
-

[2020-06-26 10:10] ralpholazo24 commented on #169
For my updates, I can now deploy the app on Azure VM using IIS but I am experience error if I am trying to log in.

I have an error when calling the connect/token api.

Here are my parameters.

![image](https://user-images.githubusercontent.com/18304032/85846195-1157b100-b7d8-11ea-9744-20e8aab7a939.png)
![image](https://user-images.githubusercontent.com/18304032/85846227-19afec00-b7d8-11ea-99de-6b

[2020-06-26 13:17] tomekole opened #175 "[Question] How to reuse logic across applications"
Hi Jason,

I am looking for a right way to reuse code in another application.

Let's say I create a console app - Todo importer. It is reading data from file and creating Todo items.

How to reuse Domain, Application and Infrastructure in the console app?

How about bulk operations? Are there any recommended patterns?

Thanks,
Tomek

[2020-06-26 13:27] danijel88 commented on #173
Thanks, it helped me a lot.
Regards

[2020-06-26 13:27] #173 closed

[2020-06-27 06:00] #174 closed

[2020-06-27 17:16] MJM1989 opened #176 "Mixed casing for the generated NSwag client filepath, breaks on Linux machines"
**Describe the bug**
The filepath specified as output in the nswag.json specification uses PascalCase while the import statements in controllers such as the TodoComponent and the FetchDataComponent uses lowercase. On a Linux machine, with a case-sensitive filesystem, this breaks.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Linux machine ;)
2. Create a directory with PascalCase (o

[2020-06-27 17:18] MJM1989 commented on #176
Since my first reply is a bug report :S let me just start a comment with saying:
Thank you, and thanks to all involved, for creating such a nice template, full of many great ideas.

I'm really looking forward to looking into this more carefully and hope I can help out by quickly making a PR for this issue ;)

[2020-06-27 19:16] emadalsous opened #178 "Can i use the same Dto/View Model between different queries on the same entity"
Hello Jason,

Big thanks for this nice template. I really love this project and i use with all my new development. I would like to share with you some thought and take your opinion about it. Do you think that it is a good idea to share the same Dto of the same entity when i see that the view field are the same ?

For example:
 public class GetTodosQuery : IRequest<**TodosVm**> //This contains Todo

[2020-06-28 10:08] workcontrolgit commented on #169
The form data looks right.  400 error is tricky as it could be on the client and server.  Maybe clear cookie and also check the IIS server log.

[2020-06-28 14:32] sencagri opened #179 "Why Application layer depends on Entity Framework ?"
Hello,
I am suprised when I first see the Entity Framework Core dependency inside Application Layer.

[code]
I think we have some problem here by adding external frameworks. Should'nt it be inside Infrastructure layer instead of Application layer ?

[2020-06-28 17:39] GFoley83 commented on #179
Good question. This was a conscious decision from my understanding as Entity Framework is the go-to Db ORM for the vast  majority of .NET solutions anyway. So adding a layer of abstraction just for the sake of it, is a waste of time.

You could easily fix this yourself by creating your own interface to replace `DbDet` inside the application layer and leaving the logic that implements it in the Inf

[2020-06-30 05:29] MCCshreyas commented on #175
I mean its very simple, you can send the Command from your console app to the application layer and it will just work fine.
The application layer doesn't concern about what the UI layer might be console or web. Application layer only deals with Commands & Queries which implements `IRequest<T>`

[2020-06-30 06:52] baffourt commented on #150
I have handled the `IFormFile` just at the presentation layer and then either save the content to MemoryStream to be used at the Application layer level.
This is an example
[code]
Then in my view, I create a property of `IFormFile` with a `[BindProperty]`,
OnPostAsync I get the content into a memory stream before calling Mediator.Send
[code]

[2020-07-01 01:09] GFoley83 commented on #169
Have you configured IdentityServer correctly for the environment?
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-api-authorization?view=aspnetcore-3.1#deploy-to-production

You might have more luck on StackOverflow, which is the best forum for questions like this.

[2020-07-01 15:27] akqira commented on #169
Hi @ralpholazo24
To share my experience, i've got the same issue on Azure and not locally. After some investigations i found that my Current Plan for the App Service (shared free instance) does not allow me to read my certificate file in order to sign the token.
This is a limitation by Microsoft, one of the solutions is to upgrade to basic plan

https://github.com/dotnet/runtime/issues/30658#issue

[2020-07-02 12:03] taylorc commented on #165
@villesalomaki
tldr; The performance is the dev compilation of Angular not the templates themselves.

The reason you see "poor" performance on your Dev machine is because of Angular and the default configuration. In the file [Startup.cs](https://github.com/jasontaylordev/CleanArchitecture/blob/master/src/WebUI/Startup.cs) file @ line 123 you have the following:
`              if (env.IsDevelopment

[2020-07-03 07:29] lehoangphan commented on #172
thanks you !

[2020-07-03 07:29] #172 closed

[2020-07-03 07:37] lehoangphan opened #180 "If project is using outside SDK, Does Application Layers depend on SDK's Type ?"
So, if my project use SDK (now I'm using Contentful Headless CMS SDK) installed from Nuget

My SDK has the model "Document", "SystemProperties" , so Can Application Layer call this type ?

[code]

Thanks

[2020-07-06 16:06] simongh opened #182 "Handling JSON parse errors"
I'm not sure whether this is relevant or not. If you get a JSON parse error when an api controller is called, you'll get a null model. The controllers have no handling for this, and some expect the model never to be null.

Mediator expects the request to never be null & throws an exception if it is. You therefore get a 500 error, which is probably less than ideal. I can see a couple of ways of add

[2020-07-08 09:08] #150 closed

[2020-07-10 05:41] nixonad opened #185 "Conversion from xUnit to NUnit"
@jasontaylordev : This is just a question, I was wondering at your rationale behind converting from xUnit to NUnit for unit and integration tests?
I see that NUnit is getting some attention these days, at a a stage a while ago the project seemed to have been abandoned.

[2020-07-11 20:31] artyomabrahamyan opened #186 "Why UI depends on infrastructure?"
Usuall approach for clean architecture is that both Infrastructure and UI depend on business. Here UI also depends on Infrastructure, how would you suggest to overcome that issue.

Thanks.

[2020-07-11 22:56] quico14 opened #187 "Angular components tests are ignored"
When I try to run the angular components tests, they are showned as ignored. How can I make it work?

Thanks

[2020-07-12 00:57] #180 closed

[2020-07-12 08:24] Tbd19 opened #188 "MVC Localization"
In the MVC there are the DataAnnotations that I used in previous projects where I add the Display attribute to localize the application.
I saw the other post about the MVC but I am still unclear on how to do this.
Is creating a ViewModel for the View in order to have the DataAnnotations a good solution? Is it OK to have double mapping: one in the feature and one in the presentation?

Or what solut

[2020-07-12 09:52] ahmedatia commented on #188
Hello @Tbd19 ... I was going through the same and decided to go with [Localization](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization) using _a shared resource file_. I found this approach more easier than the use of additional ViewModels, DataAnnotations etc...

[code]

[code]

[code]
And then you can inject `ILocalizationService` wherever needed to read resources values.

I

[2020-07-12 14:06] FlaterF opened #189 "Why does Application.IntegrationTests depend on WebUI?"
When setting up the service provider in the application integration tests, it uses the configuration from the WebUI.Startup class. I don't quite understand the reason why.

- Is this done purely to cut out some repeated code?
- Shouldn't the application integration tests be agnostic of its specific consumer? Why doesn't the Application.IntegrationTests project rely solely on the Application projec

[2020-07-12 16:22] ShamalFdo129 opened #190 "How to access RelationalQueryableExtensions (FromSqlRaw) from IApplicationDbContext"
RelationalQueryableExtensions  FromSqlRaw and other extension method can not be accessed from IApplicationDbContext object in our commands and queries.
is there anyway to extend these extension method into IApplicationDbContext?

[2020-07-13 00:39] Leanwit commented on #186
Hello artyomabrahamyan
You can find the answer in the readme.

[2020-07-13 05:47] shmutalov commented on #188
Good library for localization

https://github.com/VitaliiTsilnyk/NGettext

[2020-07-13 16:11] Tbd19 commented on #188
So should I understand that you are not using Html.LabelFor, Html.EditorFor and Html.XXXFor?
BTW my problem is not from where to take the resources. (I am already using a project that injects the localization service) My question is how to utilize the getting of resources in the context of using the Html.Label for that uses Display attribute.
Should I assume that you just write manually the <label

[2020-07-13 19:51] ahmedatia commented on #188
In the context of this template, I'm not using Display attributes at all. In fact, I've not used DataAnnotations with this template so far! I don't think it is needed especially with the use of localized resources and fluent validation.

In case of labels, you can still use `Html.LabelFor` as one of its parameters is `labelText` and hence in that case I'm passing the value of localized resources.

[2020-07-13 21:26] panosru opened #191 "Any MassTransit Mediator example?"
Hello everyone,

**Not much of an issue, mostly a question** if there is an example of [MassTransit Mediator](https://masstransit-project.com/usage/mediator.html) implementation for this template.

I'm fairly new to .Net/C# and while I have successfully implemented MassTransit in my projects so far, I kind of stuck trying to modify [DependecyInjection.cs](https://github.com/jasontaylordev/CleanArc

[2020-07-14 16:14] artyomabrahamyan commented on #186
Hi @Leanwit, thank you for response.

Let me reformulate my question. Do you see anyway to acheive this without having Infrastructure references in the Web UI project?

Here microsoft states that it is possible to acheive with DI container.
https://docs.microsoft.com/en-us/dotnet/architecture/modern-web-apps-azure/common-web-application-architectures#clean-architecture

Any suggestions on this?

[2020-07-14 16:41] Tbd19 commented on #188
It does help. So all the localization is done on the view and not on the view model with this type of template.

Thank you

[2020-07-14 20:59] GFoley83 commented on #186
The only alternative is to load DLLs using assembly scanning instead of having a hard project reference
E.g https://autofaccn.readthedocs.io/en/latest/register/scanning.html

Given your MVC/Web API/Azure Func projects are your entry point into your whole solution, the composition root (Startup.cs) has to have references to required projects somehow. Given the logic is isolated to here (where it's

[2020-07-15 06:42] artyomabrahamyan commented on #186
Thank you for clarification.

[2020-07-15 06:42] #186 closed

[2020-07-15 15:45] simongh commented on #182
There is cunningness I wasn't aware of. It's built into asp & i had the option switched off.

[2020-07-15 15:45] #182 closed

[2020-07-18 13:32] quico14 opened #193 "After updating VS to last version Integration tests do not find the DB"
Before it was working correctly, but after updating it, it is not able to find the DB
![image](https://user-images.githubusercontent.com/18647096/87853608-c713ac80-c90b-11ea-9751-ee7004ec750e.png)

The application is able to run correctly.

[2020-07-18 13:35] #193 closed

[2020-07-18 13:36] quico14 commented on #193
My connection string was wrong in the Tests

[2020-07-19 06:24] MCCshreyas commented on #190
Hi @ShamalFdo129 . I haven't used those extension methods from `RelationalQueryableExtensions` in my projects yet. But what I noticed that by looking at the documentation which is [here ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.relationalqueryableextensions?view=efcore-3.1) is that those extension methods do work on `DbSet<T>` and we already have that in `IApplica

[2020-07-20 12:18] danijel88 opened #194 "After NPM Update can not build any more Angular App"
Hello,
Today I had worked normally on solution on one moment I had run npm update, after that I can not build any more angular app
Can any one help me about this ?

[code]

here is package.json
`{
  "name": "audit.webui",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "echo Starting... && ng serve ",
    "build": "ng build",
    "build:ssr": "ng run Audit.WebUI:server:dev ",

[2020-07-20 12:31] danijel88 commented on #194
let me add update: I had fix some parts.
What I had found is that new oidc-client library do not support some stuff like 1.9.0 so I had moved this lib to this version.
Now I need to figure out why I'm seeing next error :
[code]

[2020-07-20 12:42] danijel88 commented on #194
Ok, last update, I fix last issue with this link [https://github.com/angular/protractor/issues/5348](url)
Where I had downgrade typescript to 3.6.4

[2020-07-20 16:51] ShamalFdo129 commented on #190
@MCCshreyas
not sure what is going on here. I have namespace "using Microsoft.EntityFrameworkCore" but extension methods are not access
![Untitled](https://user-images.githubusercontent.com/34286807/87964124-5e792b00-cad7-11ea-9ae2-389cfefc5fda.jpg)
ible.

[2020-07-21 21:19] hassanrazakhalid opened #195 "Adding Background Worker Project, then how to share interfaces in application layer"
Hi
I am using the clean template as starting point for my project. I also heard the talks on Clean architecture which were great on youtube. However i have one question. I need to have background worker to send notifications based some due date alone with usual web application. Worker will be background application and needs access to IDbContext and IDateTime both are defined in core in applicatio

[2020-07-22 06:10] achmstein opened #196 "gRPC Protos"
I'm using gRPC with Blazor WASM! Where should I define my Protos? Infrastructer Layer?

Should I use AutoMapper to convert gRPC request class to Command or Query? If yes, where should I define mappings?

[2020-07-22 09:42] MattMash commented on #173
Thanks so much @GFoley83

[2020-07-27 16:04] MHarrison22 commented on #119
Argh, this was driving me nuts! @xontab's PR resolved the issue for me, thank you!

[2020-07-27 19:16] JosephIaquinto commented on #178
I think the purpose for having DTOs isolated to each command is a principle of the CQRS pattern. Although this adds a bit more boilerplate work due to having multiple similar DTOs, the intent is that if you add additional functionality, for example, a priority or deadline for a ToDo item which is not retrieved in the GetTodoList command, your GetTodoListById's DTO is easier to modify and keeps the

[2020-07-27 22:31] GFoley83 commented on #178
JosephIaquinto has summed it up really well.
Jimmy Bogard (author of MediatR and AutoMapper) mentioned this on one of his talks and his point was something along the lines of, ask yourself, are the models accidentally the same, or, will a change to the model (add/remove a property) make sense for every use-case i.e. everywhere it's used? The answer to that should tell you whether to create a seper

[2020-07-28 05:01] scottkuhl opened #198 "Use GitHub Releases to Notify of New Versions"
An easy way to follow along with the changes to this repo is to use the Watch button.  A full watch can be quite chatty at times.  I would like to suggest when new versions are pushed to NuGet you create a Release here in GitHub with notes on the change so we can subscribe to just Releases.

[2020-07-28 05:05] scottkuhl commented on #152
Has there ever been any requests to provide a front end in this solution template for MVC, Razor Pages or Blazor?  I'm wondering how popular the Angular frontend really is and if most people using the template or swiping parts of the code are just removing that part.

[2020-07-28 05:16] scottkuhl opened #199 "[Feature Request] Domain Events"
We have added domain events to our application which is based on this solution template.

Our domain events pattern provides for firing events as part of SaveChanges() in the database context that can participate in the same transaction.

Alternatively, you can fire a domain event at any time.  For example, this provides for a case where you need to send an email message after the transaction is c

[2020-07-28 05:46] rajasingh012 commented on #199
I think it should be nice to include domain events in this template

[2020-07-28 08:05] emadalsous commented on #178
Thanks Josephlaquinto, GFoley for your answers. Finally, i did like Jimmy Bogard mentioned on this. I treat this case by case and when i find a DTO that could be without modifying it for special case, i use shared model but when i need to add or modify existing DTO for special case i create directly new custom DTO without touching the existing one.

Best regards,
Emad

[2020-07-28 08:05] #178 closed

[2020-07-28 09:13] GFoley83 commented on #199
Raising a domain event inside Save Changes is a bit limiting. I think a better strategy for domain events would be to add them as a post processor behaviour pipeline, as by then you know all logic in and around your handler has executed successfully.

[2020-07-28 10:11] rajasingh012 commented on #199
Thanks @GFoley83 , So it seems classes are always anemic, we can add logic in post processor behavior pipeline or mediatr Notification. Is that recommended practice?

[2020-07-28 10:22] GFoley83 commented on #199
Well what I've done in the past is both: a mediatr notification sent from a post processor behaviour pipeline. You can then have any number of classes in infrastructure listening to those events
e.g. to add the event to a service bus or message queue, send an email etc.

[2020-07-28 11:08] TheDonBenso opened #200 "implementing a BulkInsert feature from EFCore.BulkExtensions"
I recently came across a project that requires me to insert transaction entries, 1000 transactions at a time. I came have been following the code template provided by Jason Taylor in his CleanArchitecture solution.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

In my attempt, I started by adding a function starting with a description in my interface I

[2020-07-28 11:24] rajasingh012 opened #201 "Show your clean architecture implementation"
I hope many of you created project based on this template, if you  project is open source, share the link.  What are the problems you have faced when you implemented real world scenarios and how you fix it. Share your thoughts.

Through our discussion, community can learn better

[2020-07-28 22:35] scottkuhl commented on #199
I'll put together a brach soon to show what we have.

I agree that the event firing in Save Changes has limits which is why we have both methods. But the Save Changes fire also provides for an easy way to keep events in the same transaction when needed.

Im looking forward to seeing what enhancements the community has based on these conversations.

[2020-07-29 03:25] GFoley83 commented on #199
Another strategy I've used in the past is to not expose `SaveChanges` to handlers at all (i.e. dont include a `SaveChanges` method on whatever interface you're injecting into your handlers for your `DbContext`) and instead call `SaveChanges` as part of a pipeline behavior e.g. as part of a Db transaction behavior pipeline.

This can help insure that `SaveChanges` is only called when there are actu

[2020-07-31 23:33] GFoley83 commented on #200
This is a StackOverflow question.

[2020-08-02 12:52] maltbt opened #203 "Build SQL Db out of the box"
**Describe the bug**
 I followed the instructions and expected to get a DB out of the box after running update-database command but I receive an error.

**To Reproduce**
Steps to reproduce the behavior:
1. "UseInMemoryDatabase": false,
2.dotnet ef migrations add "SampleMigration" --project src\Infrastructure --startup-project src\WebUI --output-dir Persistence\Migrations
3. update-database

**Expe

[2020-08-02 13:17] ameyvaidya commented on #189
Yes, You can actually IntegrationTests that are not dependent on WebUI project.

You can use `Microsoft.AspNetCore.Mvc.Testing` nuget package to write and assert test for integration test. It has `WebApplicationFactory `class that exposes methods `CreateDefaultClient `(among other methods) to test out API surface.

[2020-08-02 13:33] ameyvaidya commented on #190
Is method `FromSqlRaw `available in `IApplicationDbContext `interface?

[2020-08-02 18:25] ODumpling commented on #203
Hello @maltbt

you do not need to run `update-database`.

The template has been setup to migrate at startup.

[2020-08-02 19:01] ersenbasaransen opened #204 "WebAPI alternative to WebUI"
It would be very nice to be an option for WebAPI instead of WebUI (just WebAPI without FrontEnd)

Some developers do use Vue, React instead of Angular. Also some developers develop the Front End app in a seperate solution, IDE etc. Also mostly Backend team iş seperated from the FrontEnd team.

I think there should be an option without the WebUI, just the WebAPI.

[2020-08-04 13:05] #147 closed

[2020-08-04 15:34] scottkuhl commented on #199
I have a [fork going](https://github.com/scottkuhl/CleanArchitecture) with the first draft of my implementation.  This is the [first commit](https://github.com/scottkuhl/CleanArchitecture/commit/7314e44fc1af46ce55a93b2b63f2d05ee6e2d488).

I decided not to add transaction handling at least in this first draft.  Transaction handling is not currently in the solution template so I was concerned this w

[2020-08-05 04:52] tafs7 opened #205 "Why use partial classes for some of the commands?"
In browsing this codebase, I noticed that some (not all) of the command classes are defined as `partial class`.  Is there a reason for that? I did not find any other partial classes matching the existing ones, nor any code generators that might be adding to the partials.

There are 2 specific commands that are partials: `CreateTodoListCommand`, and `UpdateTodoItemCommand`.  The other commands are

[2020-08-05 20:45] MCKRUZ opened #206 "Using the MappingProfile class across several projects"
I may just be incredibly dense here but I'm wondering if there is a way to utilize the MappingProfile code across other projects.  So the way that this CleanArchitecture template is setup there is a single Application project that holds all of the Command and Queries.

There is a class called MappingProfile that will automap all of the classes for you, which is great!

But if you have Commands and

[2020-08-05 21:13] GFoley83 commented on #206
The general idea is to keep the commands and queries together in the application project and not split them across multiple projects.

[2020-08-06 11:48] Suhut commented on #199
can you give me example how to use your domain events ?
thanks

[2020-08-07 07:29] nixonad commented on #152
I use this template just for my API layers, I have a separate project with a React UI utilising the API

[2020-08-07 07:44] nixonad commented on #189
Is the purpose of Integration tests not to test that all your services/modules etc are correctly integrated? Therefore we must test the configuration in Startup, otherwise our tests are not testing the setup that will be deployed.

[2020-08-07 07:45] nixonad commented on #204
It's relatively trivial to remove the UI references to have an API only project, this is how I use the template.

[2020-08-07 09:37] #185 closed

[2020-08-07 13:48] vyliniem commented on #206
Not sure if this is what you are looking for, but I used the MappingProfile/IMapFrom in another project where I don't use commands/queries but have multiple runnable apps with different mappings. I put the MappingProfile/IMapFrom into a shared project, but also had to change the "ApplyMappingsFromAssembly" line into:

`ApplyMappingsFromAssembly(Assembly.GetEntryAssembly());`

Otherwise it tries to

[2020-08-07 14:42] scottkuhl commented on #199
In this example there are two ways a user account can be deactivated.  First is an application administrator does it through the user interface because you leave the department or company and the second is through a worker service that that detects that you have not logged in for a while.

There is a Deactivated User Event that fires when an active user is deleted from the system or when the user

[2020-08-07 16:07] Suhut commented on #199
Big thanks

[2020-08-08 08:15] Fumeaux opened #208 "Build Error - Bad Imports under Linux"
**Describe the bug**
The Project could not be built.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the template
`cd bla/bla/CleanArchitectureSolution`
`dotnet new -i Clean.Architecture.Solution.Template`
`dotnet new ca-sln`
2. Open the template in Rider IDE
3. Build succeeds
4. Running the Application results in an Error (see below)

**Expected behavior**
The Template should work

[2020-08-08 08:23] Fumeaux commented on #208
Strangely enough, when pulling the branch to fix the problem the import worked without a problem.

[2020-08-08 08:53] MCCshreyas commented on #205
Hi @tafs7 . Thanks for pointing out. Seems like a typo, I guess. @jasontaylordev Any specific reason to have these commands partial?

[2020-08-08 09:04] MCCshreyas commented on #199
Good work @scottkuhl . But I am concern about one point, is that you're adding dependency of MediatR in 'Domain' project directly as I can see [here](https://github.com/scottkuhl/CleanArchitecture/blob/7314e44fc1af46ce55a93b2b63f2d05ee6e2d488/src/Domain/Domain.csproj)
One of the Clean architecture principles says that Domain should be clean and one should not depend upon any other library or frame

[2020-08-08 23:07] scottkuhl commented on #199
@MCCshreyas Yes, that is true.  I did not like adding it, but I didn't see another way to handle it.  It is possible to put use the static version only and move the domain event class into the application layer but I'm not seeing an effective way to handle the save changes version without it.  In the end it seemed worth adding Mediator to the domain for the added functionality.

If you have anothe